<section class="s-testimonials s-testimonials--software">

	<div class="container">


		<div class="s-testimonials__items" data-aos="fade-up">
			<!-- .s-testimonials-item -->
			<div class="s-testimonials__item s-testimonials__item--desc">
				<div class="headline">
					<h2 class="h1 headline__title headline__title--accent">What our satisfied customers say</h2>
					<p>We connect items and facts, customize processes and form the basis for every successful company by using
						an intelligent and efficient asset management solution.</p>
				</div>
			</div>
			<!-- .s-testimonials-item -->

			<!-- .s-testimonials-item -->
			<div class="s-testimonials__item s-testimonials__item--slider">
				<div class="swiper slider-testimonials slider-testimonials--faded">
					<div class="swiper-wrapper">
						<!-- .swiper-slide -->
						<div class="swiper-slide">
							<div class="swiper-slide__inner">
								<figure class="card-testimonials">
									<figcaption class="card-testimonials__creds card-testimonials-creds">
										<span class="card-testimonials-creds__name">marco wagner</span>
										<span class="card-testimonials-creds__pos">accounting Manager</span>
									</figcaption>
									<blockquote class="card-testimonials__quote">
										<p>The advantages of this type of service for a hospital center such as EpiCURA are therefore numerous: daily global monitoring, faster interventions on faulty installations, savings in water and money. - Manager of General Maintenance.</p>
									</blockquote>
								</figure>
							</div>
						</div>
						<!-- /.swiper-slide -->

						<!-- .swiper-slide -->
						<div class="swiper-slide">
							<div class="swiper-slide__inner">
								<figure class="card-testimonials">
									<figcaption class="card-testimonials__creds card-testimonials-creds">
										<span class="card-testimonials-creds__name">222marco wagner</span>
										<span class="card-testimonials-creds__pos">accounting Manager</span>
									</figcaption>
									<blockquote class="card-testimonials__quote">
										<p>The advantages of this type of service for a hospital center such as EpiCURA are therefore numerous: daily global monitoring, faster interventions on faulty installations, savings in water and money. - Manager of General Maintenance.</p>
									</blockquote>
								</figure>
							</div>
						</div>
						<!-- /.swiper-slide -->

						<!-- .swiper-slide -->
						<div class="swiper-slide">
							<div class="swiper-slide__inner">
								<figure class="card-testimonials">
									<figcaption class="card-testimonials__creds card-testimonials-creds">
										<span class="card-testimonials-creds__name">333marco wagner</span>
										<span class="card-testimonials-creds__pos">accounting Manager</span>
									</figcaption>
									<blockquote class="card-testimonials__quote">
										<p>The advantages of this type of service for a hospital center such as EpiCURA are therefore numerous: daily global monitoring, faster interventions on faulty installations, savings in water and money. - Manager of General Maintenance.</p>
									</blockquote>
								</figure>
							</div>
						</div>
						<!-- /.swiper-slide -->

						<!-- .swiper-slide -->
						<div class="swiper-slide">
							<div class="swiper-slide__inner">
								<figure class="card-testimonials">
									<figcaption class="card-testimonials__creds card-testimonials-creds">
										<span class="card-testimonials-creds__name">444marco wagner</span>
										<span class="card-testimonials-creds__pos">accounting Manager</span>
									</figcaption>
									<blockquote class="card-testimonials__quote">
										<p>The advantages of this type of service for a hospital center such as EpiCURA are therefore numerous: daily global monitoring, faster interventions on faulty installations, savings in water and money. - Manager of General Maintenance.</p>
									</blockquote>
								</figure>
							</div>
						</div>
						<!-- /.swiper-slide -->
					</div>

					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- /.s-testimonials-item -->
		</div>


	</div>

</section>
