<section class="s-testimonials-secondary">

	<div class="container">


		<h2 class="h2 visually-hidden">Section testimonials</h2>

		<ul class="grid-common">
			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up">
				<article class="grid-common__item card-testimonials-expanded">
					<figure class="card-testimonials-expanded__quote card-test-expanded-quote">
						<svg class="card-test-expanded-quote__ico" width="44" height="36">
							<use xlink:href="./assets/media/icons/sprite.svg#ico-open-quote"></use>
						</svg>
						<blockquote class="card-test-expanded-quote__text">
							<p>Thanks to this new collaboration, OkDo offers an efficient and low-cost solution that allows you to put your buildings under surveillance and to intervene as soon as a leak appears. Shayp makes your meter smart, OkDo brings the curative solution.</p>
						</blockquote>
						<figcaption class="card-test-expanded-quote__creds">
							<div class="card-test-expanded-quote__logo">
								<img src="./assets/media/images/logos/logo-okdo.png" alt="Logo okdo">
							</div>
							<div class="card-test-expanded-quote__authorinfo">
								<cite class="card-test-expanded-quote__name">Géry Dohmen</cite>
								<span class="card-test-expanded-quote__pos">CEO of OkDo</span>
							</div>
						</figcaption>
					</figure>
					<div class="card-testimonials-expanded__info">
						<p>OkDo's wish was to broaden its offer of solutions for water leak detection by proposing a technology that acts upstream. Shayp!</p>
					</div>
					<div class="card-testimonials-expanded__interaction">
						<div class="btngroup">
							<ul class="btngroup__list">
								<!-- .btngroup-item -->
								<li class="btngroup__item">
									<a href="#!" class="btn btn--grad btn--primary btn--sm" aria-label="Link to...">
										<svg class="btn__ico" width="16" height="16">
											<use xlink:href="./assets/media/icons/sprite.svg#ico-linkedin"></use>
										</svg>
										<span class="btn__text">Linkedin</span>
									</a>
								</li>
								<!-- /.btngroup-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="150">
				<article class="grid-common__item card-testimonials-expanded">
					<figure class="card-testimonials-expanded__quote card-test-expanded-quote">
						<svg class="card-test-expanded-quote__ico" width="44" height="36">
							<use xlink:href="./assets/media/icons/sprite.svg#ico-open-quote"></use>
						</svg>
						<blockquote class="card-test-expanded-quote__text">
							<p>The service offered by Shayp is fully complementary to Keypoint's offer. We can now offer a preventive solution to avoid heavy water damage and be informed of water consumption on a portfolio of buildings.</p>
						</blockquote>
						<figcaption class="card-test-expanded-quote__creds">
							<div class="card-test-expanded-quote__logo">
								<img src="./assets/media/images/logos/logo-keypoint.png" alt="Logo okdo">
							</div>
							<div class="card-test-expanded-quote__authorinfo">
								<cite class="card-test-expanded-quote__name">Jonathan goderis</cite>
								<span class="card-test-expanded-quote__pos">Co-Founder of Keypoint</span>
							</div>
						</figcaption>
					</figure>
					<div class="card-testimonials-expanded__info">
						<p>As part of this partnership, Shayp offers a preventive service to minimize the occurrence of water damage in your buildings. In addition, Shayp also provides real-time water consumption management.</p>
					</div>
					<div class="card-testimonials-expanded__interaction">
						<div class="btngroup">
							<ul class="btngroup__list">
								<!-- .btngroup-item -->
								<li class="btngroup__item">
									<a href="#!" class="btn btn--grad btn--primary btn--sm" aria-label="Link to...">
										<svg class="btn__ico" width="16" height="16">
											<use xlink:href="./assets/media/icons/sprite.svg#ico-linkedin"></use>
										</svg>
										<span class="btn__text">Linkedin</span>
									</a>
								</li>
								<!-- /.btngroup-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="250">
				<article class="grid-common__item card-testimonials-expanded">
					<figure class="card-testimonials-expanded__quote card-test-expanded-quote">
						<svg class="card-test-expanded-quote__ico" width="44" height="36">
							<use xlink:href="./assets/media/icons/sprite.svg#ico-open-quote"></use>
						</svg>
						<blockquote class="card-test-expanded-quote__text">
							<p>As technical inspector, water leaks are one of the most feared, costly and damaging issues in buildings. Obviously, Shayp is the perfect solution to prevent and resolve any water damage as soon as possible. Shayp is 100% complementary to our technical audit that aims to give a global awareness of technical weaknesses of your building and that provides practical advice to resolve them.</p>
						</blockquote>
						<figcaption class="card-test-expanded-quote__creds">
							<div class="card-test-expanded-quote__logo">
								<img src="./assets/media/images/logos/logo-immopass.png" alt="Logo okdo">
							</div>
							<div class="card-test-expanded-quote__authorinfo">
								<cite class="card-test-expanded-quote__name">Marc guilmot</cite>
								<span class="card-test-expanded-quote__pos">CEO ImmoPass</span>
							</div>
						</figcaption>
					</figure>
					<div class="card-testimonials-expanded__info">
						<p>ImmoPass is the first real estate technical inspection body offering a technical quality label for residential and office buildings. Shayp is now partnering with ImmoPass to help buildings become water-efficient and thus save both water and money.</p>
					</div>
					<div class="card-testimonials-expanded__interaction">
						<div class="btngroup">
							<ul class="btngroup__list">
								<!-- .btngroup-item -->
								<li class="btngroup__item">
									<a href="#!" class="btn btn--grad btn--primary btn--sm" aria-label="Link to...">
										<svg class="btn__ico" width="16" height="16">
											<use xlink:href="./assets/media/icons/sprite.svg#ico-linkedin"></use>
										</svg>
										<span class="btn__text">Linkedin</span>
									</a>
								</li>
								<!-- /.btngroup-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="350">
				<article class="grid-common__item card-testimonials-expanded">
					<figure class="card-testimonials-expanded__quote card-test-expanded-quote">
						<svg class="card-test-expanded-quote__ico" width="44" height="36">
							<use xlink:href="./assets/media/icons/sprite.svg#ico-open-quote"></use>
						</svg>
						<blockquote class="card-test-expanded-quote__text">
							<p>We believe that industrial engineering at the service of the environment can change the face of the world, and it is our dream to make that happen in this decade. Expanding our offer with SHAYP solutions to serve industrial customers in France is perfectly in line with our strategy, both environmentally and technologically speaking.</p>
						</blockquote>
						<figcaption class="card-test-expanded-quote__creds">
							<div class="card-test-expanded-quote__logo">
								<img src="./assets/media/images/logos/logo-reeniu.png" alt="Logo okdo">
							</div>
							<div class="card-test-expanded-quote__authorinfo">
								<cite class="card-test-expanded-quote__name">Pascal ballon</cite>
								<span class="card-test-expanded-quote__pos">CEO REENIU</span>
							</div>
						</figcaption>
					</figure>
					<div class="card-testimonials-expanded__info">
						<p>Active both in France and in Asia, REENIU provides industrial companies with the best solutions for the energy and ecological transition. REENIU studies, suggests as well as installs innovative products and systems to reduce the carbon impact, air, soil and water pollution, and therefore deals globally with the environmental impact of industrial sites at the process and building level.</p>
					</div>
					<div class="card-testimonials-expanded__interaction">
						<div class="btngroup">
							<ul class="btngroup__list">
								<!-- .btngroup-item -->
								<li class="btngroup__item">
									<a href="#!" class="btn btn--grad btn--primary btn--sm" aria-label="Link to...">
										<svg class="btn__ico" width="16" height="16">
											<use xlink:href="./assets/media/icons/sprite.svg#ico-linkedin"></use>
										</svg>
										<span class="btn__text">Linkedin</span>
									</a>
								</li>
								<!-- /.btngroup-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="450">
				<article class="grid-common__item card-testimonials-expanded">
					<figure class="card-testimonials-expanded__quote card-test-expanded-quote">
						<svg class="card-test-expanded-quote__ico" width="44" height="36">
							<use xlink:href="./assets/media/icons/sprite.svg#ico-open-quote"></use>
						</svg>
						<blockquote class="card-test-expanded-quote__text">
							<p>One of the benefits of Shayp is that it helps our users to get valuable insights into their water consumption, making it easier for them to improve water efficiency. And it is really nice that Shayp and EnergieID integrate with only a few clicks. Great job!</p>
						</blockquote>
						<figcaption class="card-test-expanded-quote__creds">
							<div class="card-test-expanded-quote__logo">
								<img src="./assets/media/images/logos/logo-energieid.png" alt="Logo okdo">
							</div>
							<div class="card-test-expanded-quote__authorinfo">
								<cite class="card-test-expanded-quote__name">Diedrik Kuypers</cite>
								<span class="card-test-expanded-quote__pos">Co-Founder of EnergieID</span>
							</div>
						</figcaption>
					</figure>
					<div class="card-testimonials-expanded__info">
						<p>EnergieID offers an online monitoring solution that gives insights into energy and water savings, and tells how you compare to your peers. Shayp now provides an automated way to load water consumption data into your personal EnergieID record.</p>
					</div>
					<div class="card-testimonials-expanded__interaction">
						<div class="btngroup">
							<ul class="btngroup__list">
								<!-- .btngroup-item -->
								<li class="btngroup__item">
									<a href="#!" class="btn btn--grad btn--primary btn--sm" aria-label="Link to...">
										<svg class="btn__ico" width="16" height="16">
											<use xlink:href="./assets/media/icons/sprite.svg#ico-linkedin"></use>
										</svg>
										<span class="btn__text">Linkedin</span>
									</a>
								</li>
								<!-- /.btngroup-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->
		</ul>


	</div>

</section>
