<section class="s-testimonials s-testimonials--fullsize-slider">

	<div class="container">


		<div class="headline" data-aos="fade-up">
			<h2 class="h1 headline__title headline__title--accent">What our customers say</h2>
		</div>

		<div class="s-testimonials__items" data-aos="fade-up">
			<!-- .s-testimonials-item -->
			<div class="s-testimonials__item s-testimonials__item--slider">
				<div class="swiper slider-testimonials slider-testimonials--video">
					<div class="swiper-wrapper">
						<!-- .swiper-slide -->
						<div class="swiper-slide">
							<div class="swiper-slide__inner">
								<figure class="card-testimonials">
									<figcaption class="card-testimonials__creds card-testimonials-creds">
										<span class="card-testimonials-creds__name">marco wagner</span>
										<span class="card-testimonials-creds__pos">accounting Manager</span>
									</figcaption>
									<blockquote class="card-testimonials__quote">
										<p>The advantages of this type of service for a hospital center such as EpiCURA are therefore
											numerous: daily global monitoring, faster interventions on faulty installations, savings in water
											and money. - Manager of General Maintenance.</p>
									</blockquote>
								</figure>

								<div class="block-video">
									<div class="block-video__wrapper yt-player" data-video-id="G4cJ4wviwS8">
									</div>
									<div class="block-video__info block-video-info">
										<div class="block-video-info__btn btn-play">
											<button class="btn-play__itself btn-reset yt-player-btn" aria-label="Play button">
												<svg class="btn-play__ico" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M12.7502 6.6327C13.4935 7.08445 13.8652 7.31032 13.9917 7.6015C14.1021 7.85569 14.1021 8.14431 13.9917 8.3985C13.8652 8.68968 13.4935 8.91555 12.7502 9.3673L3.18096 15.1829C2.38598 15.666 1.98849 15.9076 1.66114 15.8784C1.37573 15.8529 1.11495 15.7062 0.944967 15.4756C0.749999 15.211 0.749999 14.7458 0.749999 13.8156L0.75 2.18443C0.75 1.25416 0.75 0.789018 0.944967 0.524442C1.11495 0.293764 1.37573 0.14709 1.66114 0.121628C1.98849 0.0924241 2.38598 0.333992 3.18096 0.817129L12.7502 6.6327Z"
														fill="url(#paint0_linear_1526:995)" />
													<defs>
														<linearGradient id="paint0_linear_1526:995" x1="26.06" y1="27.7559" x2="-22.3688"
															y2="1.47051" gradientUnits="userSpaceOnUse">
															<stop offset="0.0137301" stop-color="var(--bg-color-primary)" />
															<stop offset="0.520833" stop-color="var(--bg-color-secondary)" />
															<stop offset="1" stop-color="var(--bg-color-tertiary)" />
														</linearGradient>
													</defs>
												</svg>
											</button>
										</div>
										<div class="block-video-info__details block-video-info-details">
											<div class="block-video-info-details__inner">
												<span class="block-video-info__name">Marco wagner</span>
												<span class="block-video-info__pos">Accounting manager</span>
											</div>
										</div>
										<div class="block-video-info__poster">
											<img src="./assets/media/images/posts/pic-post01.jpg" alt="Some image">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.swiper-slide -->

						<!-- .swiper-slide -->
						<div class="swiper-slide">
							<div class="swiper-slide__inner">
								<figure class="card-testimonials">
									<figcaption class="card-testimonials__creds card-testimonials-creds">
										<span class="card-testimonials-creds__name">22marco wagner</span>
										<span class="card-testimonials-creds__pos">accounting Manager</span>
									</figcaption>
									<blockquote class="card-testimonials__quote">
										<p>The advantages of this type of service for a hospital center such as EpiCURA are therefore
											numerous: daily global monitoring, faster interventions on faulty installations, savings in water
											and money. - Manager of General Maintenance.</p>
									</blockquote>
								</figure>

								<div class="block-video">
									<div class="block-video__wrapper yt-player" data-video-id="G4cJ4wviwS8">
									</div>
									<div class="block-video__info block-video-info">
										<div class="block-video-info__btn btn-play">
											<button class="btn-play__itself btn-reset yt-player-btn" aria-label="Play button">
												<svg class="btn-play__ico" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M12.7502 6.6327C13.4935 7.08445 13.8652 7.31032 13.9917 7.6015C14.1021 7.85569 14.1021 8.14431 13.9917 8.3985C13.8652 8.68968 13.4935 8.91555 12.7502 9.3673L3.18096 15.1829C2.38598 15.666 1.98849 15.9076 1.66114 15.8784C1.37573 15.8529 1.11495 15.7062 0.944967 15.4756C0.749999 15.211 0.749999 14.7458 0.749999 13.8156L0.75 2.18443C0.75 1.25416 0.75 0.789018 0.944967 0.524442C1.11495 0.293764 1.37573 0.14709 1.66114 0.121628C1.98849 0.0924241 2.38598 0.333992 3.18096 0.817129L12.7502 6.6327Z"
														fill="url(#paint0_linear_1526:995)" />
													<defs>
														<linearGradient id="paint0_linear_1526:995" x1="26.06" y1="27.7559" x2="-22.3688"
															y2="1.47051" gradientUnits="userSpaceOnUse">
															<stop offset="0.0137301" stop-color="var(--bg-color-primary)" />
															<stop offset="0.520833" stop-color="var(--bg-color-secondary)" />
															<stop offset="1" stop-color="var(--bg-color-tertiary)" />
														</linearGradient>
													</defs>
												</svg>
											</button>
										</div>
										<div class="block-video-info__details block-video-info-details">
											<div class="block-video-info-details__inner">
												<span class="block-video-info__name">Marco wagner</span>
												<span class="block-video-info__pos">Accounting manager</span>
											</div>
										</div>
										<div class="block-video-info__poster">
											<img src="./assets/media/images/posts/pic-post01.jpg" alt="Some image">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.swiper-slide -->

						<!-- .swiper-slide -->
						<div class="swiper-slide">
							<div class="swiper-slide__inner">
								<figure class="card-testimonials">
									<figcaption class="card-testimonials__creds card-testimonials-creds">
										<span class="card-testimonials-creds__name">22marco wagner</span>
										<span class="card-testimonials-creds__pos">accounting Manager</span>
									</figcaption>
									<blockquote class="card-testimonials__quote">
										<p>The advantages of this type of service for a hospital center such as EpiCURA are therefore
											numerous: daily global monitoring, faster interventions on faulty installations, savings in water
											and money. - Manager of General Maintenance.</p>
									</blockquote>
								</figure>

								<div class="block-video">
									<div class="block-video__wrapper yt-player" data-video-id="G4cJ4wviwS8">
									</div>
									<div class="block-video__info block-video-info">
										<div class="block-video-info__btn btn-play">
											<button class="btn-play__itself btn-reset yt-player-btn" aria-label="Play button">
												<svg class="btn-play__ico" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M12.7502 6.6327C13.4935 7.08445 13.8652 7.31032 13.9917 7.6015C14.1021 7.85569 14.1021 8.14431 13.9917 8.3985C13.8652 8.68968 13.4935 8.91555 12.7502 9.3673L3.18096 15.1829C2.38598 15.666 1.98849 15.9076 1.66114 15.8784C1.37573 15.8529 1.11495 15.7062 0.944967 15.4756C0.749999 15.211 0.749999 14.7458 0.749999 13.8156L0.75 2.18443C0.75 1.25416 0.75 0.789018 0.944967 0.524442C1.11495 0.293764 1.37573 0.14709 1.66114 0.121628C1.98849 0.0924241 2.38598 0.333992 3.18096 0.817129L12.7502 6.6327Z"
														fill="url(#paint0_linear_1526:995)" />
													<defs>
														<linearGradient id="paint0_linear_1526:995" x1="26.06" y1="27.7559" x2="-22.3688"
															y2="1.47051" gradientUnits="userSpaceOnUse">
															<stop offset="0.0137301" stop-color="var(--bg-color-primary)" />
															<stop offset="0.520833" stop-color="var(--bg-color-secondary)" />
															<stop offset="1" stop-color="var(--bg-color-tertiary)" />
														</linearGradient>
													</defs>
												</svg>
											</button>
										</div>
										<div class="block-video-info__details block-video-info-details">
											<div class="block-video-info-details__inner">
												<span class="block-video-info__name">Marco wagner</span>
												<span class="block-video-info__pos">Accounting manager</span>
											</div>
										</div>
										<div class="block-video-info__poster">
											<img src="./assets/media/images/posts/pic-post01.jpg" alt="Some image">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.swiper-slide -->

						<!-- .swiper-slide -->
						<div class="swiper-slide">
							<div class="swiper-slide__inner">
								<figure class="card-testimonials">
									<figcaption class="card-testimonials__creds card-testimonials-creds">
										<span class="card-testimonials-creds__name">22marco wagner</span>
										<span class="card-testimonials-creds__pos">accounting Manager</span>
									</figcaption>
									<blockquote class="card-testimonials__quote">
										<p>The advantages of this type of service for a hospital center such as EpiCURA are therefore
											numerous: daily global monitoring, faster interventions on faulty installations, savings in water
											and money. - Manager of General Maintenance.</p>
									</blockquote>
								</figure>

								<div class="block-video">
									<div class="block-video__wrapper yt-player" data-video-id="G4cJ4wviwS8">
									</div>
									<div class="block-video__info block-video-info">
										<div class="block-video-info__btn btn-play">
											<button class="btn-play__itself btn-reset yt-player-btn" aria-label="Play button">
												<svg class="btn-play__ico" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M12.7502 6.6327C13.4935 7.08445 13.8652 7.31032 13.9917 7.6015C14.1021 7.85569 14.1021 8.14431 13.9917 8.3985C13.8652 8.68968 13.4935 8.91555 12.7502 9.3673L3.18096 15.1829C2.38598 15.666 1.98849 15.9076 1.66114 15.8784C1.37573 15.8529 1.11495 15.7062 0.944967 15.4756C0.749999 15.211 0.749999 14.7458 0.749999 13.8156L0.75 2.18443C0.75 1.25416 0.75 0.789018 0.944967 0.524442C1.11495 0.293764 1.37573 0.14709 1.66114 0.121628C1.98849 0.0924241 2.38598 0.333992 3.18096 0.817129L12.7502 6.6327Z"
														fill="url(#paint0_linear_1526:995)" />
													<defs>
														<linearGradient id="paint0_linear_1526:995" x1="26.06" y1="27.7559" x2="-22.3688"
															y2="1.47051" gradientUnits="userSpaceOnUse">
															<stop offset="0.0137301" stop-color="var(--bg-color-primary)" />
															<stop offset="0.520833" stop-color="var(--bg-color-secondary)" />
															<stop offset="1" stop-color="var(--bg-color-tertiary)" />
														</linearGradient>
													</defs>
												</svg>
											</button>
										</div>
										<div class="block-video-info__details block-video-info-details">
											<div class="block-video-info-details__inner">
												<span class="block-video-info__name">Marco wagner</span>
												<span class="block-video-info__pos">Accounting manager</span>
											</div>
										</div>
										<div class="block-video-info__poster">
											<img src="./assets/media/images/posts/pic-post01.jpg" alt="Some image">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.swiper-slide -->
					</div>

					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- /.s-testimonials-item -->
		</div>


	</div>

	<script>
		const scriptTag = document.createElement("script");
		const firstScriptTag = document.getElementsByTagName("script")[0];
		const allPlayers = [];

		scriptTag.src = "https://www.youtube.com/iframe_api";
		firstScriptTag.parentNode.insertBefore(scriptTag, firstScriptTag);

		function onYouTubeIframeAPIReady(id) {
			const youtubePlayers = document.getElementsByClassName("yt-player");

			Array.from(youtubePlayers).forEach((ytPlayer) => {
				const videoId = ytPlayer.getAttribute("data-video-id");

				const playerInit = new YT.Player(ytPlayer, {
					videoId: videoId,
					playerVars: {
						autoplay: false,
						rel: 0,
						modestbranding: true,
						controls: 1,
					},
				});

				allPlayers.push(playerInit);
			});
		}
	</script>

</section>
