<section class="s-logos s-logos--software section-py">

	<div class="container">


		<div class="titlegroup s-logos__titlegroup text-center" data-aos="fade-up">
			<h2 class="h1 titlegroup__title">Developed with experts</h2>
		</div>

		<div class="logos logos--slider">
			<div class="logos-sl-mbl swiper" data-mobile="false">
				<ul class="logos__list swiper-wrapper">
					<!-- .logos-item -->
					<li class="logos__item swiper-slide">
						<div class="logos__img" data-aos="fade-up">
							<img src="./assets/media/images/logos/logo-reseau.png" alt="Logo...">
						</div>
					</li>
					<!-- /.logos-item -->

					<!-- .logos-item -->
					<li class="logos__item swiper-slide">
						<div class="logos__img" data-aos="fade-up" data-aos-delay="150">
							<img src="./assets/media/images/logos/logo-sigfox.png" alt="Logo...">
						</div>
					</li>
					<!-- /.logos-item -->

					<!-- .logos-item -->
					<li class="logos__item swiper-slide">
						<div class="logos__img" data-aos="fade-up" data-aos-delay="200">
							<img src="./assets/media/images/logos/logo-thecircle.png" alt="Logo...">
						</div>
					</li>
					<!-- /.logos-item -->

					<!-- .logos-item -->
					<li class="logos__item swiper-slide">
						<div class="logos__img" data-aos="fade-up" data-aos-delay="250">
							<img src="./assets/media/images/logos/logo-triodos.png" alt="Logo...">
						</div>
					</li>
					<!-- /.logos-item -->

					<!-- .logos-item -->
					<li class="logos__item swiper-slide">
						<div class="logos__img" data-aos="fade-up" data-aos-delay="300">
							<img src="./assets/media/images/logos/logo-circular.png" alt="Logo...">
						</div>
					</li>
					<!-- /.logos-item -->

					<!-- .logos-item -->
					<li class="logos__item swiper-slide">
						<div class="logos__img" data-aos="fade-up" data-aos-delay="350">
							<img src="./assets/media/images/logos/logo-sense.png" alt="Logo...">
						</div>
					</li>
					<!-- /.logos-item -->
				</ul>
			</div>

			<div class="swiper-pagination"></div>

			<!-- .swiper-btn -->
			<div class="swiper-button swiper-button-prev">
				<svg class="swiper-button__icon" width="15" height="15">
					<use xlink:href="./assets/media/icons/sprite.svg#ico-chevron-left"></use>
				</svg>
			</div>
			<!-- /.swiper-btn -->

			<!-- .swiper-btn -->
			<div class="swiper-button swiper-button-next">
				<svg class="swiper-button__icon" width="15" height="15">
					<use xlink:href="./assets/media/icons/sprite.svg#ico-chevron-right"></use>
				</svg>
			</div>
			<!-- /.swiper-btn -->
		</div>


	</div>

</section>
