<section class="s-faq">

	<div class="container">


		<div class="s-faq__inner">
			<ul class="pills-list" data-aos="fade-up">
				<!-- .pills-list-item -->
				<li class="pills-list__item">
					<button class="pills-list__pill is-active filter-button" aria-current="true"
						aria-label="Link to..." data-filter="*">All</button>
				</li>
				<!-- /.pills-list-item -->

				<!-- .pills-list-item -->
				<li class="pills-list__item">
					<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-setup">Setup</button>
				</li>
				<!-- /.pills-list-item -->

				<!-- .pills-list-item -->
				<li class="pills-list__item">
					<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-connect">connect</button>
				</li>
				<!-- /.pills-list-item -->

				<!-- .pills-list-item -->
				<li class="pills-list__item">
					<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-hardware">hardware</button>
				</li>
				<!-- /.pills-list-item -->

				<!-- .pills-list-item -->
				<li class="pills-list__item">
					<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-software">software</button>
				</li>
				<!-- /.pills-list-item -->

				<!-- .pills-list-item -->
				<li class="pills-list__item">
					<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-account">account</button>
				</li>
				<!-- /.pills-list-item -->

				<!-- .pills-list-item -->
				<li class="pills-list__item">
					<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-about">about shayp</button>
				</li>
				<!-- /.pills-list-item -->
			</ul>

			<ul class="list-faq grid-filter" data-aos="fade-up" data-aos-delay="200">
				<!-- .list-faq-item -->
				<li class="list-faq__item grid-filter__item filter-item-setup">
					<div class="titlegroup list-faq__titlegroup">
						<h2 class="h4 titlegroup__title">Setup</h2>
					</div>
					<div class="accordion">
						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">setup</span>
								<h3 class="h6 accordion__title">How are installations planned? Where do we begin?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">setup</span>
								<h3 class="h6 accordion__title">Where will the installer place the Shayp POLY4 device?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">setup</span>
								<h3 class="h6 accordion__title">How does the installer set up the POLY4 device?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">setup</span>
								<h3 class="h6 accordion__title">Can I install the router myself?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">setup</span>
								<h3 class="h6 accordion__title">How long does a typical installation take?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">setup</span>
								<h3 class="h6 accordion__title">Do you have to cut pipes to install the System?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">setup</span>
								<h3 class="h6 accordion__title">Is the Poly4 compatible with all water meters?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->
					</div>
				</li>
				<!-- /.list-faq-item -->

				<!-- .list-faq-item -->
				<li class="list-faq__item grid-filter__item filter-item-connect">
					<div class="titlegroup list-faq__titlegroup">
						<h2 class="h4 titlegroup__title">connect</h2>
					</div>
					<div class="accordion">
						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">connect</span>
								<h3 class="h6 accordion__title">Do I require WiFi near my water meter?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">connect</span>
								<h3 class="h6 accordion__title">Does my router need a power connection?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">connect</span>
								<h3 class="h6 accordion__title">Should I be concerned about the waves?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->
					</div>
				</li>
				<!-- /.list-faq-item -->

				<!-- .list-faq-item -->
				<li class="list-faq__item grid-filter__item filter-item-hardware">
					<div class="titlegroup list-faq__titlegroup">
						<h2 class="h4 titlegroup__title">Hardware: POLY4</h2>
					</div>
					<div class="accordion">
						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">hardware</span>
								<h3 class="h6 accordion__title">How does it work?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">hardware</span>
								<h3 class="h6 accordion__title">How long does the router battery last?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">hardware</span>
								<h3 class="h6 accordion__title">Is the router water resistant?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">hardware</span>
								<h3 class="h6 accordion__title">Can the router survive in hard water conditions?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">hardware</span>
								<h3 class="h6 accordion__title">What happens if the power goes out?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">hardware</span>
								<h3 class="h6 accordion__title">What is guaranteed?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">hardware</span>
								<h3 class="h6 accordion__title">Is it possible to get a certification once your buildings are made water
									efficient thanks to Shayp?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">hardware</span>
								<h3 class="h6 accordion__title">Can I reuse my Shayp device if I move?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->
					</div>
				</li>
				<!-- /.list-faq-item -->

				<!-- .list-faq-item -->
				<li class="list-faq__item grid-filter__item filter-item-software">
					<div class="titlegroup list-faq__titlegroup">
						<h2 class="h4 titlegroup__title">Software: 2ZERO</h2>
					</div>
					<div class="accordion">
						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Software</span>
								<h3 class="h6 accordion__title">How does Shayp alert me of a leak?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Software</span>
								<h3 class="h6 accordion__title">How does Shayp detect leaks?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Software</span>
								<h3 class="h6 accordion__title">Is the router water resistant?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Software</span>
								<h3 class="h6 accordion__title">How fast can Shayp detect leaks?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Software</span>
								<h3 class="h6 accordion__title">What are the smallest leaks Shayp can detect?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Software</span>
								<h3 class="h6 accordion__title">What do I have to do if I spot a leak that Shayp do not detect?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->
					</div>
				</li>
				<!-- /.list-faq-item -->

				<!-- .list-faq-item -->
				<li class="list-faq__item grid-filter__item filter-item-account">
					<div class="titlegroup list-faq__titlegroup">
						<h2 class="h4 titlegroup__title">Account</h2>
					</div>
					<div class="accordion">
						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Account</span>
								<h3 class="h6 accordion__title">How does Shayp alert me of a leak?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Account</span>
								<h3 class="h6 accordion__title">How do I keep track of my water consumption?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Account</span>
								<h3 class="h6 accordion__title">How can I install the Shayp app on my mobile?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Account</span>
								<h3 class="h6 accordion__title">How do I obtain access to my Shayp account?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Account</span>
								<h3 class="h6 accordion__title">What is the procedure if I need to change my personal information on my
									account?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Account</span>
								<h3 class="h6 accordion__title">What do I do if I notice something wrong or if my Shayp device doesn’t
									seem to be working properly?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Account</span>
								<h3 class="h6 accordion__title">Who do I contact if there is a water leak detected by your system?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">Account</span>
								<h3 class="h6 accordion__title">What happens if I don’t repair a leak?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->
					</div>
				</li>
				<!-- /.list-faq-item -->

				<!-- .list-faq-item -->
				<li class="list-faq__item grid-filter__item filter-item-about">
					<div class="titlegroup list-faq__titlegroup">
						<h2 class="h4 titlegroup__title">About Shayp</h2>
					</div>
					<div class="accordion">
						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">About Shayp</span>
								<h3 class="h6 accordion__title">What is Shayp?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">About Shayp</span>
								<h3 class="h6 accordion__title">Is it possible to ask for a demo before ordering?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">About Shayp</span>
								<h3 class="h6 accordion__title">Why do I need a leak detection system?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">About Shayp</span>
								<h3 class="h6 accordion__title">For which type of customers is your solution designed?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->

						<!-- .accordion-item -->
						<div class="accordion__item">
							<button class="accordion__header btn-reset">
								<span class="accordion__cat">About Shayp</span>
								<h3 class="h6 accordion__title">What is your data privacy policy?</h3>
								<span class="accordion__token">&nbsp;</span>
							</button>
							<div class="accordion__body">
								<div class="accordion__content">
									<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
										night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
										adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
										check this <a href="#!" aria-label="link to....">page</a>.</p>
								</div>
							</div>
						</div>
						<!-- /.accordion-item -->
					</div>
				</li>
				<!-- /.list-faq-item -->
			</ul>
		</div>


	</div>

</section>
