<section class="s-faq-secondary">

	<div class="container">


		<div class="s-faq-secondary__items">
			<!-- .s-faq-secondary-item -->
			<div class="s-faq-secondary__item s-faq-secondary__item--sm" data-aos="fade-right">
				<div class="headline">
					<h2 class="h1 headline__title">FAQ</h2>
				</div>
				<div class="s-faq-secondary__interaction">
					<a href="#!" class="btn-link" aria-label="Link to...">
						<span class="btn-link__text">All questions</span>
						<svg class="btn-link__arrow" width="19" height="19">
							<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-right"></use>
						</svg>
					</a>
				</div>
			</div>
			<!-- /.s-faq-secondary-item -->

			<!-- .s-faq-secondary-item -->
			<div class="s-faq-secondary__item s-faq-secondary__item--lg">
				<div class="accordion">
					<!-- .accordion-item -->
					<div class="accordion__item" data-aos="fade-up">
						<button class="accordion__header btn-reset">
							<h3 class="h6 accordion__title">How does it work?</h3>
							<span class="accordion__token">&nbsp;</span>
						</button>
						<div class="accordion__body">
							<div class="accordion__content">
								<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
									night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
									adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
									check this <a href="#!" aria-label="link to....">page</a>.</p>
							</div>
						</div>
					</div>
					<!-- /.accordion-item -->

					<!-- .accordion-item -->
					<div class="accordion__item" data-aos="fade-up">
						<button class="accordion__header btn-reset">
							<h3 class="h6 accordion__title">How long does the router battery last?</h3>
							<span class="accordion__token">&nbsp;</span>
						</button>
						<div class="accordion__body">
							<div class="accordion__content">
								<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
									night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
									adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
									check this <a href="#!" aria-label="link to....">page</a>.</p>
							</div>
						</div>
					</div>
					<!-- /.accordion-item -->

					<!-- .accordion-item -->
					<div class="accordion__item" data-aos="fade-up">
						<button class="accordion__header btn-reset">
							<h3 class="h6 accordion__title">Is the router water resistant?</h3>
							<span class="accordion__token">&nbsp;</span>
						</button>
						<div class="accordion__body">
							<div class="accordion__content">
								<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
									night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
									adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
									check this <a href="#!" aria-label="link to....">page</a>.</p>
							</div>
						</div>
					</div>
					<!-- /.accordion-item -->

					<!-- .accordion-item -->
					<div class="accordion__item" data-aos="fade-up">
						<button class="accordion__header btn-reset">
							<h3 class="h6 accordion__title">Can the router survive in hard water conditions?</h3>
							<span class="accordion__token">&nbsp;</span>
						</button>
						<div class="accordion__body">
							<div class="accordion__content">
								<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
									night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
									adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
									check this <a href="#!" aria-label="link to....">page</a>.</p>
							</div>
						</div>
					</div>
					<!-- /.accordion-item -->

					<!-- .accordion-item -->
					<div class="accordion__item" data-aos="fade-up">
						<button class="accordion__header btn-reset">
							<h3 class="h6 accordion__title">What happens if the power goes out?</h3>
							<span class="accordion__token">&nbsp;</span>
						</button>
						<div class="accordion__body">
							<div class="accordion__content">
								<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
									night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
									adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
									check this <a href="#!" aria-label="link to....">page</a>.</p>
							</div>
						</div>
					</div>
					<!-- /.accordion-item -->

					<!-- .accordion-item -->
					<div class="accordion__item" data-aos="fade-up">
						<button class="accordion__header btn-reset">
							<h3 class="h6 accordion__title">What is guaranteed?</h3>
							<span class="accordion__token">&nbsp;</span>
						</button>
						<div class="accordion__body">
							<div class="accordion__content">
								<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
									night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
									adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
									check this <a href="#!" aria-label="link to....">page</a>.</p>
							</div>
						</div>
					</div>
					<!-- /.accordion-item -->

					<!-- .accordion-item -->
					<div class="accordion__item" data-aos="fade-up">
						<button class="accordion__header btn-reset">
							<h3 class="h6 accordion__title">Is it possible to get a certification once your buildings are made water efficient thanks to Shayp?</h3>
							<span class="accordion__token">&nbsp;</span>
						</button>
						<div class="accordion__body">
							<div class="accordion__content">
								<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
									night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
									adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
									check this <a href="#!" aria-label="link to....">page</a>.</p>
							</div>
						</div>
					</div>
					<!-- /.accordion-item -->

					<!-- .accordion-item -->
					<div class="accordion__item" data-aos="fade-up">
						<button class="accordion__header btn-reset">
							<h3 class="h6 accordion__title">Can I reuse my Shayp device if I move?</h3>
							<span class="accordion__token">&nbsp;</span>
						</button>
						<div class="accordion__body">
							<div class="accordion__content">
								<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
									night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
									adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
									check this <a href="#!" aria-label="link to....">page</a>.</p>
							</div>
						</div>
					</div>
					<!-- /.accordion-item -->
				</div>
			</div>
			<!-- /.s-faq-secondary-item -->
		</div>


	</div>

</section>
