<svg class="marker-grad visually-hidden">
	<defs>
		<linearGradient id="marker-grad" x1="17.1952" y1="-7.42174" x2="-3.15153" y2="22.8741"
			gradientUnits="userSpaceOnUse">
			<stop offset="0.0137301" stop-color="var(--bg-color-primary)" />
			<stop offset="0.520833" stop-color="var(--bg-color-secondary)" />
			<stop offset="1" stop-color="var(--bg-color-tertiary)" />
		</linearGradient>
	</defs>
</svg>
<!-- loading JS Start -->
<!-- build:js-vendors -->
<script src="./assets/js/vendors.js" defer="defer"></script>
<!-- endbuild -->
<!-- build:js -->
<script src="./assets/js/main.js" defer="defer"></script>
<!-- endbuild -->
<!-- loading JS End -->
