<div class="menu-mobile content-white">

	<div class="menu-mobile__inner">
		<nav class="mobile-nav">
			<ul class="mobile-nav__list">
				<!-- .mobile-nav-item -->
				<li class="mobile-nav__item mobile-nav__item--has-submenu">
					<a href="#!" class="mobile-nav__link" aria-label="Link...">
						<span class="mobile-nav__text">
							Use cases
							<svg class="mobile-nav__ico" width="12" height="12">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-chevron-down"></use>
							</svg>
						</span>
					</a>
					<div class="mobile-nav__submenu mobile-nav-submenu">
						<ul class="mobile-nav-submenu__list">
							<!-- .mobile-nav-submenu-item -->
							<li class="mobile-nav-submenu__item">
								<a href="#!" class="mobile-nav-submenu__link" aria-label="Link to...">
									multi-residential and hospitality
								</a>
							</li>
							<!-- /.mobile-nav-submenu-item -->

							<!-- .mobile-nav-submenu-item -->
							<li class="mobile-nav-submenu__item">
								<a href="#!" class="mobile-nav-submenu__link" aria-label="Link to...">
									Commercial and retail
								</a>
							</li>
							<!-- /.mobile-nav-submenu-item -->

							<!-- .mobile-nav-submenu-item -->
							<li class="mobile-nav-submenu__item">
								<a href="#!" class="mobile-nav-submenu__link" aria-label="Link to...">
									Cities and public organisations
								</a>
							</li>
							<!-- /.mobile-nav-submenu-item -->

							<!-- .mobile-nav-submenu-item -->
							<li class="mobile-nav-submenu__item">
								<a href="#!" class="mobile-nav-submenu__link" aria-label="Link to...">
									Education and universities
								</a>
							</li>
							<!-- /.mobile-nav-submenu-item -->

							<!-- .mobile-nav-submenu-item -->
							<li class="mobile-nav-submenu__item">
								<a href="#!" class="mobile-nav-submenu__link" aria-label="Link to...">
									Hospitals and healthcare
								</a>
							</li>
							<!-- /.mobile-nav-submenu-item -->

							<!-- .mobile-nav-submenu-item -->
							<li class="mobile-nav-submenu__item">
								<a href="#!" class="mobile-nav-submenu__link" aria-label="Link to...">
									Transport and logistics
								</a>
							</li>
							<!-- /.mobile-nav-submenu-item -->
						</ul>
					</div>
				</li>
				<!-- /.mobile-nav-item -->

				<!-- .mobile-nav-item -->
				<li class="mobile-nav__item mobile-nav__item--has-submenu">
					<a href="#!" class="mobile-nav__link" aria-label="Link...">
						<span class="mobile-nav__text">
							products
							<svg class="mobile-nav__ico" width="12" height="12">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-chevron-down"></use>
							</svg>
						</span>
					</a>
					<div class="mobile-nav__submenu mobile-nav-submenu">
						<ul class="mobile-nav-submenu__list">
							<!-- .mobile-nav-submenu-item -->
							<li class="mobile-nav-submenu__item">
								<a href="#!" class="mobile-nav-submenu__link" aria-label="Link to...">
									software
								</a>
							</li>
							<!-- /.mobile-nav-submenu-item -->

							<!-- .mobile-nav-submenu-item -->
							<li class="mobile-nav-submenu__item">
								<a href="#!" class="mobile-nav-submenu__link" aria-label="Link to...">
									hardware
								</a>
							</li>
							<!-- /.mobile-nav-submenu-item -->
						</ul>
					</div>
				</li>
				<!-- /.mobile-nav-item -->

				<!-- .mobile-nav-item -->
				<li class="mobile-nav__item">
					<a href="#!" class="mobile-nav__link" aria-label="Link...">
						<span class="mobile-nav__text">
							partners
						</span>
					</a>
				</li>
				<!-- /.mobile-nav-item -->

				<!-- .mobile-nav-item -->
				<li class="mobile-nav__item">
					<a href="#!" class="mobile-nav__link" aria-label="Link...">
						<span class="mobile-nav__text">
							blog
						</span>
					</a>
				</li>
				<!-- /.mobile-nav-item -->

				<!-- .mobile-nav-item -->
				<li class="mobile-nav__item mobile-nav__item--has-submenu">
					<a href="#!" class="mobile-nav__link" aria-label="Link...">
						<span class="mobile-nav__text">
							about us
							<svg class="mobile-nav__ico" width="12" height="12">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-chevron-down"></use>
							</svg>
						</span>
					</a>
					<div class="mobile-nav__submenu mobile-nav-submenu">
						<ul class="mobile-nav-submenu__list">
							<!-- .mobile-nav-submenu-item -->
							<li class="mobile-nav-submenu__item">
								<a href="#!" class="mobile-nav-submenu__link" aria-label="Link to...">
									about us
								</a>
							</li>
							<!-- /.mobile-nav-submenu-item -->

							<!-- .mobile-nav-submenu-item -->
							<li class="mobile-nav-submenu__item">
								<a href="#!" class="mobile-nav-submenu__link" aria-label="Link to...">
									careers
								</a>
							</li>
							<!-- /.mobile-nav-submenu-item -->
						</ul>
					</div>
				</li>
				<!-- /.mobile-nav-item -->
			</ul>
		</nav>

		<div class="btngroup">
			<ul class="btngroup__list">
				<!-- .btngroup-item -->
				<li class="btngroup__item">
					<a href="#!" class="btn btn--sm btn--lightblue" aria-label="Link to...">
						<span class="btn__text">Back to Blog</span>
					</a>
				</li>
				<!-- /.btngroup-item -->

				<!-- .btngroup-item -->
				<li class="btngroup__item">
					<a href="#!" class="btn btn--sm btn--grad-text btn--light" aria-label="Link to...">
						<span class="btn__text" data-btn-text="Request a demo">Request a demo</span>
					</a>
				</li>
				<!-- /.btngroup-item -->
			</ul>
		</div>

		<ul class="list-languages list-languages--mobile-stretched">
			<!-- .list-languages-item -->
			<li class="list-languages__item is-active">
				<a href="#!" class="list-languages__link list-languages-link" aria-label="Link to...">
					<span class="list-languages-link__inner">
						<span class="list-languages-link__ico">
							<img src="./assets/media/icons/countries/ico-gb.png" alt="Great britain icon">
						</span>
						<span class="list-languages-link__text">en</span>
					</span>
				</a>
			</li>
			<!-- /.list-languages-item -->

			<!-- .list-languages-item -->
			<li class="list-languages__item">
				<a href="#!" class="list-languages__link list-languages-link" aria-label="Link to...">
					<span class="list-languages-link__inner">
						<span class="list-languages-link__text">fr</span>
					</span>
				</a>
			</li>
			<!-- /.list-languages-item -->

			<!-- .list-languages-item -->
			<li class="list-languages__item">
				<a href="#!" class="list-languages__link list-languages-link" aria-label="Link to...">
					<span class="list-languages-link__inner">
						<span class="list-languages-link__text">Nl</span>
					</span>
				</a>
			</li>
			<!-- /.list-languages-item -->

			<!-- .list-languages-item -->
			<li class="list-languages__item">
				<a href="#!" class="list-languages__link list-languages-link" aria-label="Link to...">
					<span class="list-languages-link__inner">
						<span class="list-languages-link__text">De</span>
					</span>
				</a>
			</li>
			<!-- /.list-languages-item -->

			<!-- .list-languages-item -->
			<li class="list-languages__item">
				<a href="#!" class="list-languages__link list-languages-link" aria-label="Link to...">
					<span class="list-languages-link__inner">
						<span class="list-languages-link__text">es</span>
					</span>
				</a>
			</li>
			<!-- /.list-languages-item -->
		</ul>
	</div>

</div>
