.btngroup {
	--gap: 0.6rem;

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 calc(var(--gap) * -1);

		& > * {
			padding: 0 var(--gap);
		}
	}

	&__item {
		margin: 0.75rem 0;
	}
}
