<section class="contact-us content-white">

	<div class="container">


		<div class="contact-us__inner">
			<div class="form-primary">
				<header class="form-primary__heading text-center" data-aos="fade-up">
					<h2 class="h1 form-primary__title">Contact us</h2>
				</header>

				<form>
					<div class="form-primary__wrapper">
						<!-- .form-primary-row -->
						<div class="form-primary__row" data-aos="fade-up">
							<!-- .form-primary-col -->
							<div class="form-primary__col">
								<div class="form-primary__labelgroup form-labelgroup">
									<label for="email" class="form-labelgroup__label">Email</label>
								</div>
								<div class="form-primary__inputgroup">
									<input type="email" id="email" name="email" placeholder="Email" aria-label="Please enter your email">
								</div>
							</div>
							<!-- ./form-primary-col -->
						</div>
						<!-- /.form-primary-row -->

						<!-- .form-primary-row -->
						<div class="form-primary__row" data-aos="fade-up">
							<!-- .form-primary-col -->
							<div class="form-primary__col">
								<div class="form-primary__labelgroup form-labelgroup">
									<label for="fName" class="form-labelgroup__label">First name</label>
								</div>
								<div class="form-primary__inputgroup">
									<input type="text" id="fName" name="fName" placeholder="First name" aria-label="Please enter your first name">
								</div>
							</div>
							<!-- ./form-primary-col -->
						</div>
						<!-- /.form-primary-row -->

						<!-- .form-primary-row -->
						<div class="form-primary__row" data-aos="fade-up">
							<!-- .form-primary-col -->
							<div class="form-primary__col">
								<div class="form-primary__labelgroup form-labelgroup">
									<label for="lName" class="form-labelgroup__label">Last name</label>
								</div>
								<div class="form-primary__inputgroup">
									<input type="text" id="lName" name="lName" placeholder="Last name" aria-label="Please enter your last name">
								</div>
							</div>
							<!-- ./form-primary-col -->
						</div>
						<!-- /.form-primary-row -->

						<!-- .form-primary-row -->
						<div class="form-primary__row" data-aos="fade-up">
							<!-- .form-primary-col -->
							<div class="form-primary__col">
								<div class="form-primary__labelgroup form-labelgroup">
									<label for="message" class="form-labelgroup__label">Message</label>
								</div>
								<div class="form-primary__inputgroup">
									<textarea name="message" id="message" placeholder="Message" aria-label="Please enter your message"></textarea>
								</div>
							</div>
							<!-- ./form-primary-col -->
						</div>
						<!-- /.form-primary-row -->
					</div>

					<div class="form-primary__interaction form-interaction" data-aos="fade-up">
						<div class="form-interaction__btngroup form-interaction-btngroup">
							<!-- .form-interaction-btngroup__item -->
							<div class="form-interaction-btngroup__item text-center">
								<button type="submit" class="btn btn--grad-text btn--light" aria-label="Button to submit the form">
									<span class="btn__text" data-btn-text="Submit">Submit</span>
								</button>
							</div>
							<!-- /.form-interaction-btngroup__item -->
						</div>
					</div>
				</form>
			</div>
		</div>


	</div>

</section>
