<section class="contact-us-full">

	<div class="container">


		<div class="contact-us-full__inner">
			<div class="contact-us-full__form">
				<div class="form-primary">
					<header class="form-primary__heading" data-aos="fade-down">
						<h2 class="h1 form-primary__title">Contact us</h2>
					</header>

					<form>
						<div class="form-primary__wrapper">
							<!-- .form-primary-row -->
							<div class="form-primary__row" data-aos="fade-right" data-aos-easing="ease-in-sine">
								<!-- .form-primary-col -->
								<div class="form-primary__col">
									<div class="form-primary__labelgroup form-labelgroup">
										<label for="email" class="form-labelgroup__label">Email</label>
									</div>
									<div class="form-primary__inputgroup">
										<input type="email" id="email" name="email" placeholder="Email"
											aria-label="Please enter your email">
									</div>
								</div>
								<!-- ./form-primary-col -->
							</div>
							<!-- /.form-primary-row -->

							<!-- .form-primary-row -->
							<div class="form-primary__row" data-aos="fade-left" data-aos-easing="ease-in-sine">
								<!-- .form-primary-col -->
								<div class="form-primary__col">
									<div class="form-primary__labelgroup form-labelgroup">
										<label for="fName" class="form-labelgroup__label">First name</label>
									</div>
									<div class="form-primary__inputgroup">
										<input type="text" id="fName" name="fName" placeholder="First name"
											aria-label="Please enter your first name">
									</div>
								</div>
								<!-- ./form-primary-col -->
							</div>
							<!-- /.form-primary-row -->

							<!-- .form-primary-row -->
							<div class="form-primary__row" data-aos="fade-right" data-aos-easing="ease-in-sine">
								<!-- .form-primary-col -->
								<div class="form-primary__col">
									<div class="form-primary__labelgroup form-labelgroup">
										<label for="lName" class="form-labelgroup__label">Last name</label>
									</div>
									<div class="form-primary__inputgroup">
										<input type="text" id="lName" name="lName" placeholder="Last name"
											aria-label="Please enter your last name">
									</div>
								</div>
								<!-- ./form-primary-col -->
							</div>
							<!-- /.form-primary-row -->

							<!-- .form-primary-row -->
							<div class="form-primary__row" data-aos="fade-left" data-aos-easing="ease-in-sine">
								<!-- .form-primary-col -->
								<div class="form-primary__col">
									<div class="form-primary__labelgroup form-labelgroup">
										<label for="message" class="form-labelgroup__label">Message</label>
									</div>
									<div class="form-primary__inputgroup">
										<textarea name="message" id="message" placeholder="Message"
											aria-label="Please enter your message"></textarea>
									</div>
								</div>
								<!-- ./form-primary-col -->
							</div>
							<!-- /.form-primary-row -->
						</div>

						<div class="form-primary__interaction form-interaction" data-aos="fade-down">
							<div class="form-interaction__btngroup form-interaction-btngroup">
								<!-- .form-interaction-btngroup__item -->
								<div class="form-interaction-btngroup__item text-center">
									<button type="submit" class="btn btn--grad btn--primary btn-block"
										aria-label="Button to submit the form">
										<span class="btn__text">Submit</span>
									</button>
								</div>
								<!-- /.form-interaction-btngroup__item -->
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="contact-us-full__creds">
				<div class="location-map" id="map">

				</div>

				<ul class="list-creds">
					<!-- .list-creds-item -->
					<li class="list-creds__item" data-aos="fade-up">
						<a href="https://goo.gl/maps/tWgHJV9bhAmLqxK68" class="list-creds__wrapper" aria-label="Link..."
							target="_blank">
							<svg class="list-creds__ico" width="19" height="19">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-marker"></use>
							</svg>
							<address class="list-creds__text">4 Rue des Pères Blancs, 4, Etterbeek</address>
						</a>
					</li>
					<!-- /.list-creds-item -->

					<!-- .list-creds-item -->
					<li class="list-creds__item" data-aos="fade-up" data-aos-delay="200">
						<a href="mailto:info@shayp.com" class="list-creds__wrapper" aria-label="Link...">
							<svg class="list-creds__ico" width="20" height="20">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-mail"></use>
							</svg>
							<span class="list-creds__text">info@shayp.com</span>
						</a>
					</li>
					<!-- /.list-creds-item -->
				</ul>

				<div class="socials socials--squarelike">
					<ul class="socials__list">
						<!-- .socials-item -->
						<li class="socials__item" data-aos="fade-up" data-aos-duration="2000">
							<a href="#!" class="socials__link" aria-label="Link to...">
								<svg class="socials__ico" width="10" height="19">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-fb"></use>
								</svg>
							</a>
						</li>
						<!-- /.socials-item -->

						<!-- .socials-item -->
						<li class="socials__item" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
							<a href="#!" class="socials__link" aria-label="Link to...">
								<svg class="socials__ico" width="19" height="19">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-twitter"></use>
								</svg>
							</a>
						</li>
						<!-- /.socials-item -->

						<!-- .socials-item -->
						<li class="socials__item" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="250">
							<a href="#!" class="socials__link" aria-label="Link to...">
								<svg class="socials__ico" width="22" height="16">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-youtube"></use>
								</svg>
							</a>
						</li>
						<!-- /.socials-item -->

						<!-- .socials-item -->
						<li class="socials__item" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300">
							<a href="#!" class="socials__link" aria-label="Link to...">
								<svg class="socials__ico" width="16" height="16">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-insta"></use>
								</svg>
							</a>
						</li>
						<!-- /.socials-item -->
					</ul>
				</div>
			</div>
		</div>


	</div>

</section>
<!-- .init-contact-us-map -->
@include("../general/init-contact-us-map.html")
<!-- /.init-contact-us-map -->
