<section class="s-cta s-cta--dashboard-hardware s-cta--py-common content-white section-elevated">

	<div class="container container--lg">


		<div class="block-cta block-cta--bgimage-below overflow-hidden">
			<div class="block-cta__inner section-elevated">
				<div class="block-cta__wrapper" data-aos="fade-up" style="--cta-wrapper-width: 60rem;">
					<div class="headline blend-mode-difference">
						<h2 class="h1 headline__title">User-friendly connected dashboard</h2>
						<p>With an simple-to-read dashboard, you benefit from deep insights on your water consumption on an hourly basis. We make sure users understand whether they encounter leaks and anomaly in water consumption. With the connected device, you prioritize your maintenance. And most importantly, our sophisticated yet simple to use software provides a peace of mind for property owners with deep water utility insights.</p>
					</div>

					<div class="block-cta__interaction">
						<a href="#!" class="btn btn--grad-text btn--light" aria-label="Link to...">
							<span class="btn__text" data-btn-text="Request a demo">Request a demo</span>
						</a>
						<div class="block-cta__line block-cta-line" aria-hidden="true">
							<img src="./assets/media/images/decorations/pic-decor-line05.png" alt="Some decoration image" class="block-cta-line__itself">
						</div>
					</div>
				</div>

				<div class="block-cta__media block-cta__media--absolute" aria-hidden="true">
					<div class="block-cta__img">
						<img src="./assets/media/images/intro/pic-ipadair.png" alt="SOme image">
					</div>
				</div>
			</div>
		</div>


	</div>

	<div class="s-cta__decor s-cta-decor" aria-hidden="true">
		<img src="./assets/media/images/decorations/pic-decor-line03.png" alt="Some decoration image"
			class="s-cta-decor__item">
	</div>

</section>
