<section class="s-cta content-white section-elevated">

	<div class="container container--lg">


		<div class="block-cta">
			<div class="block-cta__inner section-elevated">
				<div class="block-cta__wrapper" data-aos="fade-up">
					<div class="headline">
						<h2 class="h1 headline__title">Low setup and costs and proven return on investment</h2>
						<p>Shayp identifies and prioritises which buildings require maintenance and does your water bill accounting for you. Technicians can now see how well plumbing systems are performing so they can focus on tasks that give immediate results.</p>
					</div>

					<div class="block-cta__interaction">
						<a href="#!" class="btn btn--grad-text btn--light" aria-label="Link to...">
							<span class="btn__text" data-btn-text="Get in touch with an expert">Get in touch with an expert</span>
						</a>
					</div>
				</div>

				<div class="block-cta__decor block-cta-decor" aria-hidden="true">
					<!-- .block-cta-decor-item -->
					<svg class="block-cta-decor__item" width="56" height="56" style="opacity: 0.5; --decor-item-right: 27%; --decor-item-bottom: 10%;">
						<use xlink:href="./assets/media/icons/sprite.svg#ico-dollar-circle02"></use>
					</svg>
					<!-- ./block-cta-decor-item -->

					<!-- .block-cta-decor-item -->
					<svg class="block-cta-decor__item" width="38" height="38" style="opacity: 0.5; --decor-item-top: 20%; --decor-item-bottom: initial;">
						<use xlink:href="./assets/media/icons/sprite.svg#ico-dollar-circle02"></use>
					</svg>
					<!-- ./block-cta-decor-item -->

					<!-- .block-cta-decor-item -->
					<svg class="block-cta-decor__item block-cta-decor__item--overlapping" width="112" height="112" style="--decor-item-right: 12%; --decor-item-bottom: 27%;">
						<use xlink:href="./assets/media/icons/sprite.svg#ico-dollar-circle02"></use>
					</svg>
					<!-- ./block-cta-decor-item -->
				</div>
			</div>
		</div>


	</div>

	<div class="s-cta__decor s-cta-decor" aria-hidden="true">
		<img src="./assets/media/images/decorations/pic-decor-line.png" alt="Some decoration image" class="s-cta-decor__item">
	</div>

</section>
