<section class="s-cta s-cta--secondary s-cta--filled content-white">

	<div class="container container--lg">


		<div class="headline text-center" data-aos="fade-up">
			<h2 class="h1 headline__title">Want to join us?</h2>
			<p>Check our open positions.</p>
		</div>

		<div class="btngroup">
			<ul class="btngroup__list" data-aos="fade-up" data-aos-delay="150">
				<!-- .btngroup-item -->
				<li class="btngroup__item">
					<a href="#!" class="btn btn--grad-text btn--light" aria-label="Link to...">
						<span class="btn__text" data-btn-text="Check positions">Check positions</span>
					</a>
				</li>
				<!-- /.btngroup-item -->
			</ul>
		</div>


	</div>


</section>
