<section class="s-cta s-cta--software-third s-cta--py-common content-white section-elevated">

	<div class="container container--lg">


		<div class="block-cta block-cta--signs-below block-cta--primary">
			<div class="block-cta__inner section-elevated">
				<div class="block-cta__wrapper" style="--cta-wrapper-width: 64rem;" data-aos="fade-up">
					<div class="headline">
						<h3 class="h4 headline__title">Shayp can help you begin cutting down on your water bills and guarantee your
							ROI in less than 18 months!</h3>
					</div>

					<div class="block-cta__interaction">
						<a href="#!" class="btn btn--grad-text btn--light" aria-label="Link to...">
							<svg class="btn__ico btn__ico--nofilling" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
								stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<rect x="4" y="2" width="16" height="20" rx="2"></rect>
								<line x1="8" x2="16" y1="6" y2="6"></line>
								<line x1="16" x2="16" y1="14" y2="18"></line>
								<path d="M16 10h.01"></path>
								<path d="M12 10h.01"></path>
								<path d="M8 10h.01"></path>
								<path d="M12 14h.01"></path>
								<path d="M8 14h.01"></path>
								<path d="M12 18h.01"></path>
								<path d="M8 18h.01"></path>
							</svg>
							<span class="btn__text" data-btn-text="Get in touch with an expert">Get in touch with an expert</span>
						</a>
					</div>
				</div>

				<div class="block-cta__decor block-cta-decor" aria-hidden="true">
					<!-- .block-cta-decor-item -->
					<svg class="block-cta-decor__item" width="56" height="56"
						style="opacity: 0.5; --decor-item-right: 27%; --decor-item-bottom: 10%; --decor-item-rotation: -15deg;">
						<use xlink:href="./assets/media/icons/sprite.svg#ico-dollar-circle02"></use>
					</svg>
					<!-- ./block-cta-decor-item -->

					<!-- .block-cta-decor-item -->
					<svg class="block-cta-decor__item" width="38" height="38"
						style="opacity: 0.5; --decor-item-top: 20%; --decor-item-bottom: initial; --decor-item-rotation: -15deg;">
						<use xlink:href="./assets/media/icons/sprite.svg#ico-dollar-circle02"></use>
					</svg>
					<!-- ./block-cta-decor-item -->

					<!-- .block-cta-decor-item -->
					<svg class="block-cta-decor__item" width="112" height="112"
						style="--decor-item-right: 12%; --decor-item-bottom: 37%; --decor-item-rotation: 15deg;">
						<use xlink:href="./assets/media/icons/sprite.svg#ico-dollar-circle02"></use>
					</svg>
					<!-- ./block-cta-decor-item -->
				</div>
			</div>

			<div class="block-cta__line block-cta-line" aria-hidden="true">
				<img src="./assets/media/images/decorations/pic-decor-line.png" alt="Some decoration image"
					class="block-cta-line__itself">
			</div>
		</div>


	</div>

	<!-- <div class="s-cta__decor s-cta-decor" aria-hidden="true">
		<img src="./assets/media/images/decorations/pic-decor-line.png" alt="Some decoration image"
			class="s-cta-decor__item">
	</div> -->

</section>
