<section class="media-gallery">

	<div class="container">


		<div class="titlegroup media-gallery__titlegroup">
			<h2 class="h1 titlegroup__title text-capitalized">Media gallery</h2>
		</div>

		<div class="grid-masonry">
			<!-- .grid-masonry-item -->
			<div class="grid-masonry__item">
				<figure class="card-media-gallery">
					<img src="./assets/media/images/gallery/pic-med-gallery01.png" class="card-media-gallery__img" alt="Image description">
					<figcaption class="card-media-gallery__caption media-gallery-caption">
						<a href="#!" class="media-gallery-caption__link" aria-label="Link to...">
							<span class="media-gallery-caption__url">versicherungswirtschaft-heute.de</span>
							<time class="media-gallery-caption__date" datetime="2019-12-09">09/12/2019</time>
						</a>
					</figcaption>
				</figure>
			</div>
			<!-- /.grid-masonry-item -->

			<!-- .grid-masonry-item -->
			<div class="grid-masonry__item">
				<figure class="card-media-gallery">
					<img src="./assets/media/images/gallery/pic-med-gallery02.png" class="card-media-gallery__img" alt="Image description">
					<figcaption class="card-media-gallery__caption media-gallery-caption">
						<a href="#!" class="media-gallery-caption__link" aria-label="Link to...">
							<span class="media-gallery-caption__url">versicherungswirtschaft-heute.de</span>
							<time class="media-gallery-caption__date" datetime="2019-12-09">09/12/2019</time>
						</a>
					</figcaption>
				</figure>
			</div>
			<!-- /.grid-masonry-item -->

			<!-- .grid-masonry-item -->
			<div class="grid-masonry__item">
				<figure class="card-media-gallery">
					<img src="./assets/media/images/gallery/pic-med-gallery03.png" class="card-media-gallery__img" alt="Image description">
					<figcaption class="card-media-gallery__caption media-gallery-caption">
						<a href="#!" class="media-gallery-caption__link" aria-label="Link to...">
							<span class="media-gallery-caption__url">versicherungswirtschaft-heute.de</span>
							<time class="media-gallery-caption__date" datetime="2019-12-09">09/12/2019</time>
						</a>
					</figcaption>
				</figure>
			</div>
			<!-- /.grid-masonry-item -->

			<!-- .grid-masonry-item -->
			<div class="grid-masonry__item">
				<figure class="card-media-gallery">
					<img src="./assets/media/images/gallery/pic-med-gallery04.png" class="card-media-gallery__img" alt="Image description">
					<figcaption class="card-media-gallery__caption media-gallery-caption">
						<a href="#!" class="media-gallery-caption__link" aria-label="Link to...">
							<span class="media-gallery-caption__url">versicherungswirtschaft-heute.de</span>
							<time class="media-gallery-caption__date" datetime="2019-12-09">09/12/2019</time>
						</a>
					</figcaption>
				</figure>
			</div>
			<!-- /.grid-masonry-item -->

			<!-- .grid-masonry-item -->
			<div class="grid-masonry__item">
				<figure class="card-media-gallery">
					<img src="./assets/media/images/gallery/pic-med-gallery05.png" class="card-media-gallery__img" alt="Image description">
					<figcaption class="card-media-gallery__caption media-gallery-caption">
						<a href="#!" class="media-gallery-caption__link" aria-label="Link to...">
							<span class="media-gallery-caption__url">versicherungswirtschaft-heute.de</span>
							<time class="media-gallery-caption__date" datetime="2019-12-09">09/12/2019</time>
						</a>
					</figcaption>
				</figure>
			</div>
			<!-- /.grid-masonry-item -->

			<!-- .grid-masonry-item -->
			<div class="grid-masonry__item">
				<figure class="card-media-gallery">
					<img src="./assets/media/images/gallery/pic-med-gallery06.png" class="card-media-gallery__img" alt="Image description">
					<figcaption class="card-media-gallery__caption media-gallery-caption">
						<a href="#!" class="media-gallery-caption__link" aria-label="Link to...">
							<span class="media-gallery-caption__url">versicherungswirtschaft-heute.de</span>
							<time class="media-gallery-caption__date" datetime="2019-12-09">09/12/2019</time>
						</a>
					</figcaption>
				</figure>
			</div>
			<!-- /.grid-masonry-item -->

			<!-- .grid-masonry-item -->
			<div class="grid-masonry__item">
				<figure class="card-media-gallery">
					<img src="./assets/media/images/gallery/pic-med-gallery07.png" class="card-media-gallery__img" alt="Image description">
					<figcaption class="card-media-gallery__caption media-gallery-caption">
						<a href="#!" class="media-gallery-caption__link" aria-label="Link to...">
							<span class="media-gallery-caption__url">versicherungswirtschaft-heute.de</span>
							<time class="media-gallery-caption__date" datetime="2019-12-09">09/12/2019</time>
						</a>
					</figcaption>
				</figure>
			</div>
			<!-- /.grid-masonry-item -->

			<!-- .grid-masonry-item -->
			<div class="grid-masonry__item">
				<figure class="card-media-gallery">
					<img src="./assets/media/images/gallery/pic-med-gallery08.png" class="card-media-gallery__img" alt="Image description">
					<figcaption class="card-media-gallery__caption media-gallery-caption">
						<a href="#!" class="media-gallery-caption__link" aria-label="Link to...">
							<span class="media-gallery-caption__url">versicherungswirtschaft-heute.de</span>
							<time class="media-gallery-caption__date" datetime="2019-12-09">09/12/2019</time>
						</a>
					</figcaption>
				</figure>
			</div>
			<!-- /.grid-masonry-item -->

			<!-- .grid-masonry-item -->
			<div class="grid-masonry__item">
				<figure class="card-media-gallery">
					<img src="./assets/media/images/gallery/pic-med-gallery09.png" class="card-media-gallery__img" alt="Image description">
					<figcaption class="card-media-gallery__caption media-gallery-caption">
						<a href="#!" class="media-gallery-caption__link" aria-label="Link to...">
							<span class="media-gallery-caption__url">versicherungswirtschaft-heute.de</span>
							<time class="media-gallery-caption__date" datetime="2019-12-09">09/12/2019</time>
						</a>
					</figcaption>
				</figure>
			</div>
			<!-- /.grid-masonry-item -->

			<!-- .grid-masonry-item -->
			<div class="grid-masonry__item">
				<figure class="card-media-gallery">
					<img src="./assets/media/images/gallery/pic-med-gallery10.png" class="card-media-gallery__img" alt="Image description">
					<figcaption class="card-media-gallery__caption media-gallery-caption">
						<a href="#!" class="media-gallery-caption__link" aria-label="Link to...">
							<span class="media-gallery-caption__url">versicherungswirtschaft-heute.de</span>
							<time class="media-gallery-caption__date" datetime="2019-12-09">09/12/2019</time>
						</a>
					</figcaption>
				</figure>
			</div>
			<!-- /.grid-masonry-item -->
		</div>

		<div class="media-gallery__interaction text-center">
			<a href="#!" class="btn btn--md btn--outline btn--outline-primary" aria-label="Link to...">
				<svg class="btn__ico" width="15" height="15">
					<use xlink:href="./assets/media/icons/sprite.svg#ico-reload"></use>
				</svg>
				<span class="btn__text">Load more</span>
			</a>
		</div>


	</div>

</section>
