<section class="podcasts">

	<div class="container">


		<div class="titlegroup podcasts__titlegroup" data-aos="fade-up">
			<h2 class="h1 titlegroup__title">Podcasts</h2>
		</div>

		<ul class="grid-common">
			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up">
				<article class="grid-common__item card-podcast">
					<div class="card-podcast__inner">
						<div class="card-podcast__header">
							<h4 class="h6 card-podcast__title"><a href="#!" aria-label="Link to...">Change #11 - avec Alexandre McCormack de Shayp</a></h4>
							<div class="card-podcast__creds card-podcast-creds">
								<span class="card-podcast-creds__cat">Change</span> - <time class="card-podcast-creds__date">24/6/2020</time>
							</div>
						</div>
						<div class="card-podcast__body">
							<div class="card-podcast__content">
								<p>Episode of the podcast "Change" hosted by Hélène Renaud, in which you can hear about Shayp and water savings.</p>
							</div>
						</div>
						<div class="card-podcast__footer">
							<div class="podcasts-block">
								<span class="podcasts-block__title">Listen on:</span>
								<ul class="podcasts-block__list">
									<!-- .podcasts-block-item -->
									<li class="podcasts-block__item">
										<a href="#!" class="podcasts-block__link" aria-label="Link to...">
											<div class="podcasts-block__img">
												<img src="./assets/media/images/podcasts/pic-podcast-apple.png" alt="">
											</div>
										</a>
									</li>
									<!-- /.podcasts-block-item -->

									<!-- .podcasts-block-item -->
									<li class="podcasts-block__item">
										<a href="#!" class="podcasts-block__link" aria-label="Link to...">
											<div class="podcasts-block__img">
												<img src="./assets/media/images/podcasts/pic-podcast-spotify.png" alt="">
											</div>
										</a>
									</li>
									<!-- /.podcasts-block-item -->
								</ul>
							</div>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="200">
				<article class="grid-common__item card-podcast">
					<div class="card-podcast__inner">
						<div class="card-podcast__header">
							<h4 class="h6 card-podcast__title"><a href="#!" aria-label="Link to...">MBA Talk - Grégoire de Hemptinne from Shayp</a></h4>
							<div class="card-podcast__creds card-podcast-creds">
								<span class="card-podcast-creds__cat">Optness</span> - <time class="card-podcast-creds__date">17/01/2020</time>
							</div>
						</div>
						<div class="card-podcast__body">
							<div class="card-podcast__content">
								<p>"MBA Talked" hosted by Optness Institute, in which you can hear about the entrepreneurial venture of our COO, Grégoire de Hemptinne</p>
							</div>
						</div>
						<div class="card-podcast__footer">
							<div class="podcasts-block">
								<span class="podcasts-block__title">Listen on:</span>
								<ul class="podcasts-block__list">
									<!-- .podcasts-block-item -->
									<li class="podcasts-block__item">
										<a href="#!" class="podcasts-block__link" aria-label="Link to...">
											<div class="podcasts-block__img">
												<img src="./assets/media/images/podcasts/pic-podcast-apple.png" alt="">
											</div>
										</a>
									</li>
									<!-- /.podcasts-block-item -->

									<!-- .podcasts-block-item -->
									<li class="podcasts-block__item">
										<a href="#!" class="podcasts-block__link" aria-label="Link to...">
											<div class="podcasts-block__img">
												<img src="./assets/media/images/podcasts/pic-podcast-castbox.png" alt="">
											</div>
										</a>
									</li>
									<!-- /.podcasts-block-item -->

									<!-- .podcasts-block-item -->
									<li class="podcasts-block__item">
										<a href="#!" class="podcasts-block__link" aria-label="Link to...">
											<div class="podcasts-block__img">
												<img src="./assets/media/images/podcasts/pic-podcast-google.png" alt="">
											</div>
										</a>
									</li>
									<!-- /.podcasts-block-item -->
								</ul>
							</div>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="300">
				<article class="grid-common__item card-podcast">
					<div class="card-podcast__inner">
						<div class="card-podcast__header">
							<h4 class="h6 card-podcast__title"><a href="#!" aria-label="Link to...">Change #11 - avec Alexandre McCormack de Shayp</a></h4>
							<div class="card-podcast__creds card-podcast-creds">
								<span class="card-podcast-creds__cat">Change</span> - <time class="card-podcast-creds__date">24/6/2020</time>
							</div>
						</div>
						<div class="card-podcast__body">
							<div class="card-podcast__content">
								<p>Episode of the podcast "Change" hosted by Hélène Renaud, in which you can hear about Shayp and water savings.</p>
							</div>
						</div>
						<div class="card-podcast__footer">
							<div class="podcasts-block">
								<span class="podcasts-block__title">Listen on:</span>
								<ul class="podcasts-block__list">
									<!-- .podcasts-block-item -->
									<li class="podcasts-block__item">
										<a href="#!" class="podcasts-block__link" aria-label="Link to...">
											<div class="podcasts-block__img">
												<img src="./assets/media/images/podcasts/pic-podcast-google.png" alt="">
											</div>
										</a>
									</li>
									<!-- /.podcasts-block-item -->

									<!-- .podcasts-block-item -->
									<li class="podcasts-block__item">
										<a href="#!" class="podcasts-block__link" aria-label="Link to...">
											<div class="podcasts-block__img">
												<img src="./assets/media/images/podcasts/pic-podcast-apple.png" alt="">
											</div>
										</a>
									</li>
									<!-- /.podcasts-block-item -->

									<!-- .podcasts-block-item -->
									<li class="podcasts-block__item">
										<a href="#!" class="podcasts-block__link" aria-label="Link to...">
											<div class="podcasts-block__img">
												<img src="./assets/media/images/podcasts/pic-podcast-spotify.png" alt="">
											</div>
										</a>
									</li>
									<!-- /.podcasts-block-item -->

									<!-- .podcasts-block-item -->
									<li class="podcasts-block__item">
										<a href="#!" class="podcasts-block__link" aria-label="Link to...">
											<div class="podcasts-block__img">
												<img src="./assets/media/images/podcasts/pic-podcast-castbox.png" alt="">
											</div>
										</a>
									</li>
									<!-- /.podcasts-block-item -->
								</ul>
							</div>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->
		</ul>


	</div>

</section>
