<section class="product-desc product-desc--hardware-first">

	<div class="container">


		<div class="block-bordered">
			<div class="block-bordered__inner">
				<div class="block-bordered__desc" data-aos="fade-up">
					<p><strong>POLY4™</strong> is a long-range, battery powered datalogger compatible with all pulse-ready meters, specifically designed to withstand water immersion, harsh conditions and ensure an ideal performance even in deep indoor situations. Suitable for water meters in deep basements or manholes, remote fountains, irrigation systems, network water meters, gas meters, electricity meters and more.</p>
				</div>
				<div class="btngroup">
					<ul class="btngroup__list">
						<!-- .btngroup-item -->
						<li class="btngroup__item" data-aos="fade-up">
							<a href="#!" class="btn btn--info" aria-label="Link to...">
								<svg class="btn__ico" width="16" height="16">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-download"></use>
								</svg>
								<span class="btn__text">Download technical sheet</span>
							</a>
						</li>
						<!-- /.btngroup-item -->

						<!-- .btngroup-item -->
						<li class="btngroup__item" data-aos="fade-up">
							<a href="#!" class="btn btn--grad btn--primary" aria-label="Link to...">
								<span class="btn__text" data-btn-text="Request a demo">Request a demo</span>
							</a>
						</li>
						<!-- /.btngroup-item -->
					</ul>
				</div>
			</div>
		</div>


	</div>

</section>
