<section class="s-blog">

	<div class="container">


		<ul class="pills-list pills-list--scroll-on-mobile s-blog__pills-list" data-aos="fade-up">
			<!-- .pills-list-item -->
			<li class="pills-list__item">
				<button class="pills-list__pill is-active filter-button" aria-current="true" aria-label="Link to..." data-filter="*">All articles</button>
			</li>
			<!-- /.pills-list-item -->

			<!-- .pills-list-item -->
			<li class="pills-list__item">
				<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-environment">Environment</button>
			</li>
			<!-- /.pills-list-item -->

			<!-- .pills-list-item -->
			<li class="pills-list__item">
				<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-smartwater">Smartwater</button>
			</li>
			<!-- /.pills-list-item -->

			<!-- .pills-list-item -->
			<li class="pills-list__item">
				<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-sustainability">Sustainability</button>
			</li>
			<!-- /.pills-list-item -->

			<!-- .pills-list-item -->
			<li class="pills-list__item">
				<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-watermanage">Water management</button>
			</li>
			<!-- /.pills-list-item -->

			<!-- .pills-list-item -->
			<li class="pills-list__item">
				<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-waterleaks">Water Leaks</button>
			</li>
			<!-- /.pills-list-item -->

			<!-- .pills-list-item -->
			<li class="pills-list__item">
				<button class="pills-list__pill filter-button" aria-current="true" aria-label="Link to..." data-filter=".filter-item-watereff">Water efficiency</button>
			</li>
			<!-- /.pills-list-item -->
		</ul>

		<ul class="grid-common grid-filter" data-aos="fade-up">
			<!-- .grid-common-col -->
			<li class="grid-common__col grid-filter__item filter-item-environment">
				<article class="grid-common__item card-post">
					<div class="card-post__header">
						<a href="#!" class="card-post__img" aria-label="Link to...">
							<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
						</a>
					</div>
					<div class="card-post__body card-post-body">
						<div class="card-post-body__header">
							<time class="card-post__date" datetime="2021-04-13">13.04.2021</time>
							<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">How to Save Water: 6 Things You Can Do</a></h2>
						</div>
						<div class="card-post-body__body">
							<div class="card-post__content">
								<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
							</div>
						</div>
						<div class="card-post-body__footer">
							<ul class="pills-list pills-list--sm">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Environment</a>
								</li>
								<!-- /.pills-list-item -->

								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Sustainability</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col grid-filter__item filter-item-smartwater">
				<article class="grid-common__item card-post">
					<div class="card-post__header">
						<a href="#!" class="card-post__img" aria-label="Link to...">
							<img src="./assets/media/images/posts/pic-post02.jpg" alt="Image">
						</a>
					</div>
					<div class="card-post__body card-post-body">
						<div class="card-post-body__header">
							<time class="card-post__date" datetime="2021-04-13">13.04.2021</time>
							<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">How to Save Water: 6 Things You Can Do</a></h2>
						</div>
						<div class="card-post-body__body">
							<div class="card-post__content">
								<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
							</div>
						</div>
						<div class="card-post-body__footer">
							<ul class="pills-list pills-list--sm">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Environment</a>
								</li>
								<!-- /.pills-list-item -->

								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Sustainability</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col grid-filter__item filter-item-environment">
				<article class="grid-common__item card-post">
					<div class="card-post__header">
						<a href="#!" class="card-post__img" aria-label="Link to...">
							<img src="./assets/media/images/posts/pic-post03.jpg" alt="Image">
						</a>
					</div>
					<div class="card-post__body card-post-body">
						<div class="card-post-body__header">
							<time class="card-post__date" datetime="2021-04-13">13.04.2021</time>
							<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">How to Save Water: 6 Things You Can Do</a></h2>
						</div>
						<div class="card-post-body__body">
							<div class="card-post__content">
								<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
							</div>
						</div>
						<div class="card-post-body__footer">
							<ul class="pills-list pills-list--sm">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Environment</a>
								</li>
								<!-- /.pills-list-item -->

								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Sustainability</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col grid-filter__item filter-item-sustainability">
				<article class="grid-common__item card-post">
					<div class="card-post__header">
						<a href="#!" class="card-post__img" aria-label="Link to...">
							<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
						</a>
					</div>
					<div class="card-post__body card-post-body">
						<div class="card-post-body__header">
							<time class="card-post__date" datetime="2021-04-13">13.04.2021</time>
							<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">How to Save Water: 6 Things You Can Do</a></h2>
						</div>
						<div class="card-post-body__body">
							<div class="card-post__content">
								<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
							</div>
						</div>
						<div class="card-post-body__footer">
							<ul class="pills-list pills-list--sm">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Environment</a>
								</li>
								<!-- /.pills-list-item -->

								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Sustainability</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col grid-filter__item filter-item-sustainability">
				<article class="grid-common__item card-post">
					<div class="card-post__header">
						<a href="#!" class="card-post__img" aria-label="Link to...">
							<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
						</a>
					</div>
					<div class="card-post__body card-post-body">
						<div class="card-post-body__header">
							<time class="card-post__date" datetime="2021-04-13">13.04.2021</time>
							<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">How to Save Water: 6 Things You Can Do</a></h2>
						</div>
						<div class="card-post-body__body">
							<div class="card-post__content">
								<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
							</div>
						</div>
						<div class="card-post-body__footer">
							<ul class="pills-list pills-list--sm">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Environment</a>
								</li>
								<!-- /.pills-list-item -->

								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Sustainability</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col grid-filter__item filter-item-watermanage">
				<article class="grid-common__item card-post">
					<div class="card-post__header">
						<a href="#!" class="card-post__img" aria-label="Link to...">
							<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
						</a>
					</div>
					<div class="card-post__body card-post-body">
						<div class="card-post-body__header">
							<time class="card-post__date" datetime="2021-04-13">13.04.2021</time>
							<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">How to Save Water: 6 Things You Can Do</a></h2>
						</div>
						<div class="card-post-body__body">
							<div class="card-post__content">
								<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
							</div>
						</div>
						<div class="card-post-body__footer">
							<ul class="pills-list pills-list--sm">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Environment</a>
								</li>
								<!-- /.pills-list-item -->

								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Sustainability</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col grid-filter__item filter-item-waterleaks">
				<article class="grid-common__item card-post">
					<div class="card-post__header">
						<a href="#!" class="card-post__img" aria-label="Link to...">
							<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
						</a>
					</div>
					<div class="card-post__body card-post-body">
						<div class="card-post-body__header">
							<time class="card-post__date" datetime="2021-04-13">13.04.2021</time>
							<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">How to Save Water: 6 Things You Can Do</a></h2>
						</div>
						<div class="card-post-body__body">
							<div class="card-post__content">
								<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
							</div>
						</div>
						<div class="card-post-body__footer">
							<ul class="pills-list pills-list--sm">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Environment</a>
								</li>
								<!-- /.pills-list-item -->

								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Sustainability</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col grid-filter__item filter-item-waterleaks">
				<article class="grid-common__item card-post">
					<div class="card-post__header">
						<a href="#!" class="card-post__img" aria-label="Link to...">
							<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
						</a>
					</div>
					<div class="card-post__body card-post-body">
						<div class="card-post-body__header">
							<time class="card-post__date" datetime="2021-04-13">13.04.2021</time>
							<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">How to Save Water: 6 Things You Can Do</a></h2>
						</div>
						<div class="card-post-body__body">
							<div class="card-post__content">
								<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
							</div>
						</div>
						<div class="card-post-body__footer">
							<ul class="pills-list pills-list--sm">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Environment</a>
								</li>
								<!-- /.pills-list-item -->

								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Sustainability</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col grid-filter__item filter-item-watereff">
				<article class="grid-common__item card-post">
					<div class="card-post__header">
						<a href="#!" class="card-post__img" aria-label="Link to...">
							<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
						</a>
					</div>
					<div class="card-post__body card-post-body">
						<div class="card-post-body__header">
							<time class="card-post__date" datetime="2021-04-13">13.04.2021</time>
							<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">How to Save Water: 6 Things You Can Do</a></h2>
						</div>
						<div class="card-post-body__body">
							<div class="card-post__content">
								<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
							</div>
						</div>
						<div class="card-post-body__footer">
							<ul class="pills-list pills-list--sm">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Environment</a>
								</li>
								<!-- /.pills-list-item -->

								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-current="true" aria-label="Link to...">Sustainability</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->
		</ul>

		<ul class="pagination">
			<!-- .pagination-item -->
			<li class="pagination__item">
				<a href="#!" class="pagination__link pagination__link--prev" aria-label="Link to...">
					<svg class="pagination__ico" width="17" height="17">
						<use xlink:href="./assets/media/icons/sprite.svg#ico-chevron-left"></use>
					</svg>
				</a>
			</li>
			<!-- /.pagination-item -->

			<!-- .pagination-item -->
			<li class="pagination__item">
				<a href="#!" class="pagination__link pagination__link--current" aria-label="Link to...">
					<span class="pagination__text">1</span>
				</a>
			</li>
			<!-- /.pagination-item -->

			<!-- .pagination-item -->
			<li class="pagination__item">
				<a href="#!" class="pagination__link" aria-label="Link to...">
					<span class="pagination__text">2</span>
				</a>
			</li>
			<!-- /.pagination-item -->

			<!-- .pagination-item -->
			<li class="pagination__item">
				<a href="#!" class="pagination__link" aria-label="Link to...">
					<span class="pagination__text">3</span>
				</a>
			</li>
			<!-- /.pagination-item -->

			<!-- .pagination-item -->
			<li class="pagination__item">
				<a href="#!" class="pagination__link pagination__link--dots" aria-label="Link to...">
					<span class="pagination__text">...</span>
				</a>
			</li>
			<!-- /.pagination-item -->

			<!-- .pagination-item -->
			<li class="pagination__item">
				<a href="#!" class="pagination__link" aria-label="Link to...">
					<span class="pagination__text">6</span>
				</a>
			</li>
			<!-- /.pagination-item -->

			<!-- .pagination-item -->
			<li class="pagination__item">
				<a href="#!" class="pagination__link pagination__link--next" aria-label="Link to...">
					<svg class="pagination__ico" width="17" height="17">
						<use xlink:href="./assets/media/icons/sprite.svg#ico-chevron-right"></use>
					</svg>
				</a>
			</li>
			<!-- /.pagination-item -->
		</ul>


	</div>

</section>
