<section class="s-disadvantages section-decorated">

	<div class="container">


		<div class="heading-decorated s-disadvantages__heading" data-aos="fade-up">
			<div class="heading-decorated__inner">
				<div class="heading-decorated__media" aria-hidden="true">
					<div class="heading-decorated__circle">&nbsp;</div>
					<div class="heading-decorated__img">
						<img src="./assets/media/images/cases/pic-residence.png" alt="Some image...">
					</div>
				</div>

				<div class="heading-decorated__content">
					<div class="headline">
						<span class="headline__suptitle">How big is the problem for you?</span>
						<h2 class="h1 headline__title">Multi-residential and Hospitality</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="list-common list-common--modallike list-common--in-column">
			<ul class="list-common__list" data-aos="fade-up">
				<!-- .list-common-item -->
				<li class="list-common__item">
					<p class="list-common__text">1 in 5 buildings present costly leaks any given year</p>
				</li>
				<!-- /.list-common-item -->

				<!-- .list-common-item -->
				<li class="list-common__item">
					<p class="list-common__text">Leakages typically represent 10-30% of the water consumption in retail</p>
				</li>
				<!-- /.list-common-item -->

				<!-- .list-common-item -->
				<li class="list-common__item">
					<p class="list-common__text">Only 5% of leakages are reported by occupants or spontaneously discovered by maintenance staff</p>
				</li>
				<!-- /.list-common-item -->

				<!-- .list-common-item -->
				<li class="list-common__item">
					<p class="list-common__text">1% of your portfolio will experience water damage due to faulty plumbing every year</p>
				</li>
				<!-- /.list-common-item -->

				<!-- .list-common-item -->
				<li class="list-common__item">
					<p class="list-common__text">Unreported water leaks contributing up to 60% of your water bill</p>
				</li>
				<!-- /.list-common-item -->

				<!-- .list-common-item -->
				<li class="list-common__item">
					<p class="list-common__text">Laborious and time-consuming manual water meter readings</p>
				</li>
				<!-- /.list-common-item -->

				<!-- .list-common-item -->
				<li class="list-common__item">
					<p class="list-common__text">Water leaks non-priorisation by maintenance teams</p>
				</li>
				<!-- /.list-common-item -->

				<!-- .list-common-item -->
				<li class="list-common__item">
					<p class="list-common__text">Undetectable anomalies even with monthly water usage comparisons</p>
				</li>
				<!-- /.list-common-item -->

				<!-- .list-common-item -->
				<li class="list-common__item">
					<p class="list-common__text">Water damage risk and severe operational downtime</p>
				</li>
				<!-- /.list-common-item -->

				<!-- .list-common-item -->
				<li class="list-common__item">
					<p class="list-common__text">Challenging environmental and energy performance requirements</p>
				</li>
				<!-- /.list-common-item -->
			</ul>
		</div>


	</div>

	<div class="bg-common" aria-hidden="true">
		<img src="./assets/media/images/disadvantages/bg-disadvantages.png" alt="Image...">
	</div>

</section>
