<section class="s-downloads">

	<div class="container">


		<div class="s-downloads__inner">
			<div class="titlegroup s-downloads__titlegroup" data-aos="fade-up">
				<h2 class="h1 titlegroup__title">Downloads</h2>
			</div>

			<ul class="list-bordered list-bordered--no-icon list-bordered--content-sm">
				<!-- .list-bordered-item -->
				<li class="list-bordered__item" data-aos="fade-up">
					<div class="list-bordered__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="list-bordered__interaction">
						<a href="#!" class="btn btn--grad btn--primary btn-block" aria-label="Link to...">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-download"></use>
							</svg>
							<span class="btn__text">Download logo</span>
						</a>
					</div>
				</li>
				<!-- /.list-bordered-item -->

				<!-- .list-bordered-item -->
				<li class="list-bordered__item" data-aos="fade-up">
					<div class="list-bordered__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="list-bordered__interaction">
						<a href="#!" class="btn btn--grad btn--primary btn-block" aria-label="Link to...">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-download"></use>
							</svg>
							<span class="btn__text">Download pictures</span>
						</a>
					</div>
				</li>
				<!-- /.list-bordered-item -->

				<!-- .list-bordered-item -->
				<li class="list-bordered__item" data-aos="fade-up">
					<div class="list-bordered__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="list-bordered__interaction">
						<a href="#!" class="btn btn--grad btn--primary btn-block" aria-label="Link to...">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-download"></use>
							</svg>
							<span class="btn__text">Download press kit</span>
						</a>
					</div>
				</li>
				<!-- /.list-bordered-item -->

				<!-- .list-bordered-item -->
				<li class="list-bordered__item" data-aos="fade-up">
					<div class="list-bordered__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="list-bordered__interaction">
						<a href="#!" class="btn btn--grad btn--primary btn-block" aria-label="Link to...">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-download"></use>
							</svg>
							<span class="btn__text">Press releases</span>
						</a>
					</div>
				</li>
				<!-- /.list-bordered-item -->

				<!-- .list-bordered-item -->
				<li class="list-bordered__item" data-aos="fade-up">
					<div class="list-bordered__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="list-bordered__interaction">
						<a href="#!" class="btn btn--grad btn--primary btn-block" aria-label="Link to...">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-download"></use>
							</svg>
							<span class="btn__text">Download fact sheet</span>
						</a>
					</div>
				</li>
				<!-- /.list-bordered-item -->
			</ul>
		</div>


	</div>

</section>
