<section class="s-press">

	<div class="container">


		<div class="titlegroup s-press__titlegroup" data-aos="fade-up">
			<h2 class="h1 titlegroup__title">Press</h2>
		</div>

		<div class="swiper slider-common">
			<div class="swiper-wrapper">
				<!-- .swiper-slide -->
				<div class="swiper-slide" data-aos="fade-up">
					<article class="grid-common__item card-post">
						<div class="card-post__header">
							<a href="#!" class="card-post__img" aria-label="Link to...">
								<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
							</a>
						</div>
						<div class="card-post__body card-post-body">
							<div class="card-post-body__header">
								<time class="card-post__date" datetime="2021-04-13">13/04/2021</time>
								<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">Building Sustainable and Resilient
										Cities</a></h2>
							</div>
							<div class="card-post-body__body">
								<div class="card-post__content">
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services
										for organizations and citizens...</p>
								</div>
							</div>
							<div class="card-post-body__footer">
								<a href="#!" class="btn-link" aria-label="Link to...">
									<span class="btn-link__text">Read more</span>
									<svg class="btn-link__arrow" width="19" height="19">
										<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-right"></use>
									</svg>
								</a>
							</div>
						</div>
					</article>
				</div>
				<!-- ./swiper-slide -->

				<!-- .swiper-slide -->
				<div class="swiper-slide" data-aos="fade-up" data-aos-delay="150">
					<article class="grid-common__item card-post">
						<div class="card-post__header">
							<a href="#!" class="card-post__img" aria-label="Link to...">
								<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
							</a>
						</div>
						<div class="card-post__body card-post-body">
							<div class="card-post-body__header">
								<time class="card-post__date" datetime="2021-04-13">13/04/2021</time>
								<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">Building Sustainable and Resilient
										Cities</a></h2>
							</div>
							<div class="card-post-body__body">
								<div class="card-post__content">
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services
										for organizations and citizens...</p>
								</div>
							</div>
							<div class="card-post-body__footer">
								<a href="#!" class="btn-link" aria-label="Link to...">
									<span class="btn-link__text">Read more</span>
									<svg class="btn-link__arrow" width="19" height="19">
										<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-right"></use>
									</svg>
								</a>
							</div>
						</div>
					</article>
				</div>
				<!-- ./swiper-slide -->

				<!-- .swiper-slide -->
				<div class="swiper-slide" data-aos="fade-up" data-aos-delay="250">
					<article class="grid-common__item card-post">
						<div class="card-post__header">
							<a href="#!" class="card-post__img" aria-label="Link to...">
								<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
							</a>
						</div>
						<div class="card-post__body card-post-body">
							<div class="card-post-body__header">
								<time class="card-post__date" datetime="2021-04-13">13/04/2021</time>
								<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">Building Sustainable and Resilient
										Cities</a></h2>
							</div>
							<div class="card-post-body__body">
								<div class="card-post__content">
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services
										for organizations and citizens...</p>
								</div>
							</div>
							<div class="card-post-body__footer">
								<a href="#!" class="btn-link" aria-label="Link to...">
									<span class="btn-link__text">Read more</span>
									<svg class="btn-link__arrow" width="19" height="19">
										<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-right"></use>
									</svg>
								</a>
							</div>
						</div>
					</article>
				</div>
				<!-- ./swiper-slide -->

				<!-- .swiper-slide -->
				<div class="swiper-slide" data-aos="fade-up" data-aos-delay="350">
					<article class="grid-common__item card-post">
						<div class="card-post__header">
							<a href="#!" class="card-post__img" aria-label="Link to...">
								<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
							</a>
						</div>
						<div class="card-post__body card-post-body">
							<div class="card-post-body__header">
								<time class="card-post__date" datetime="2021-04-13">13/04/2021</time>
								<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">Building Sustainable and Resilient
										Cities</a></h2>
							</div>
							<div class="card-post-body__body">
								<div class="card-post__content">
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services
										for organizations and citizens...</p>
								</div>
							</div>
							<div class="card-post-body__footer">
								<a href="#!" class="btn-link" aria-label="Link to...">
									<span class="btn-link__text">Read more</span>
									<svg class="btn-link__arrow" width="19" height="19">
										<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-right"></use>
									</svg>
								</a>
							</div>
						</div>
					</article>
				</div>
				<!-- ./swiper-slide -->

				<!-- .swiper-slide -->
				<div class="swiper-slide" data-aos="fade-up" data-aos-delay="450">
					<article class="grid-common__item card-post">
						<div class="card-post__header">
							<a href="#!" class="card-post__img" aria-label="Link to...">
								<img src="./assets/media/images/posts/pic-post01.jpg" alt="Image">
							</a>
						</div>
						<div class="card-post__body card-post-body">
							<div class="card-post-body__header">
								<time class="card-post__date" datetime="2021-04-13">13/04/2021</time>
								<h2 class="h6 card-post__title"><a href="#!" aria-label="Link to...">Building Sustainable and Resilient
										Cities</a></h2>
							</div>
							<div class="card-post-body__body">
								<div class="card-post__content">
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services
										for organizations and citizens...</p>
								</div>
							</div>
							<div class="card-post-body__footer">
								<a href="#!" class="btn-link" aria-label="Link to...">
									<span class="btn-link__text">Read more</span>
									<svg class="btn-link__arrow" width="19" height="19">
										<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-right"></use>
									</svg>
								</a>
							</div>
						</div>
					</article>
				</div>
				<!-- ./swiper-slide -->
			</div>

			<div class="swiper-pagination"></div>
		</div>


	</div>

</section>
