<section class="s-sitemap content-white">

	<div class="container">
		<div class="headline">
			<h1 class="h1 headline__title">Site map</h1>
		</div>

		<ul class="s-sitemap__list sitemap-list">
			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/01-home.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/01-home.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/02-case-multiresidential-video.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/02-case-multiresidential-video.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/02-case-multiresidential.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/02-case-multiresidential.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/02-case-cities.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/02-case-cities.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/02-case-commerce.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/02-case-commerce.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/02-case-education.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/02-case-education.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/02-case-hospitals.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/02-case-hospitals.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/02-case-transport.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/02-case-transport.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/03-software.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/03-software.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/04-blog.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/04-blog.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/05-partners.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/05-partners.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/06-about-us.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/06-about-us.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/07-careers.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/07-careers.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/08-faq.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/08-faq.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/09-events.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/09-events.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/10-events-secondary.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/10-events-secondary.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/11-hardware.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/11-hardware.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/12-cases.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/12-cases.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/13-products.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/13-products.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/14-press.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/14-press.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/15-contact-us.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/15-contact-us.html</a>
			</li>
			<!-- /.sitemap-list-item -->

			<!-- .sitemap-list-item -->
			<li class="sitemap-list__item">
				<a href="https://@siteName.netlify.app/16-single-post.html" class="sitemap-list__link" aria-label="Link to..." target="_blank">https://@siteName.netlify.app/16-single-post.html</a>
			</li>
			<!-- /.sitemap-list-item -->
		</ul>
	</div>

</section>
