<section class="s-steps section-decorated content-white">

	<div class="container container--md">


		<div class="titlegroup s-steps__titlegroup text-center" data-aos="fade-up">
			<h2 class="h4 titlegroup__title">Steps to Success</h2>
		</div>

		<div class="cards-steps">
			<ul class="cards-steps__list">
				<!-- .cards-steps-item -->
				<li class="cards-steps__item" data-aos="fade-up">
					<article class="cards-steps__card steps-card">
						<div class="steps-card__img">
							<img src="./assets/media/images/steps/pic-wireless.png" alt="Some image">
						</div>
						<div class="steps-card__content">
							<h4 class="h6 steps-card__title">Plug’n’play wireless<br>monitoring</h4>
						</div>
					</article>
				</li>
				<!-- /.cards-steps-item -->

				<!-- .cards-steps-item -->
				<li class="cards-steps__item" data-aos="fade-up" data-aos-delay="150">
					<article class="cards-steps__card steps-card">
						<div class="steps-card__img">
							<img src="./assets/media/images/steps/pic-machine.png" alt="Some image">
						</div>
						<div class="steps-card__content">
							<h4 class="h6 steps-card__title">Autonomous machine<br>learning</h4>
						</div>
					</article>
				</li>
				<!-- /.cards-steps-item -->

				<!-- .cards-steps-item -->
				<li class="cards-steps__item" data-aos="fade-up" data-aos-delay="250">
					<article class="cards-steps__card steps-card">
						<div class="steps-card__img">
							<img src="./assets/media/images/steps/pic-reporting.png" alt="Some image">
						</div>
						<div class="steps-card__content">
							<h4 class="h6 steps-card__title">Easy<br>reporting</h4>
						</div>
					</article>
				</li>
				<!-- /.cards-steps-item -->

				<!-- .cards-steps-item -->
				<li class="cards-steps__item" data-aos="fade-up" data-aos-delay="350">
					<article class="cards-steps__card steps-card">
						<div class="steps-card__img">
							<img src="./assets/media/images/steps/pic-maintenance.png" alt="Some image">
						</div>
						<div class="steps-card__content">
							<h4 class="h6 steps-card__title">Predictive<br>maintenance</h4>
						</div>
					</article>
				</li>
				<!-- /.cards-steps-item -->
			</ul>
		</div>

		<div class="s-steps__interaction text-center" data-aos="fade-up">
			<a href="#!" class="btn btn--grad btn--primary" aria-label="Request a demo link">
				<span class="btn__text">Request a demo</span>
			</a>
		</div>


	</div>

	<div class="bg-common" aria-hidden="true">
		<!-- .bg-common-item -->
		<img class="bg-common__item bg-common__item--mobile-hidden" src="./assets/media/images/decorations/pic-bg03.png"
			alt="Image...">
		<!-- /.bg-common-item -->

		<!-- .bg-common-item -->
		<img class="bg-common__item bg-common__item--mobile-visible" src="./assets/media/images/decorations/pic-bgmobile.png"
		alt="Image...">
		<!-- /.bg-common-item -->
	</div>

</section>
