<section class="s-videos">

	<div class="container">


		<div class="titlegroup s-videos__titlegroup" data-aos="fade-up">
			<h2 class="h1 titlegroup__title">Videos</h2>
		</div>

		<ul class="grid-common">
			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up">
				<article class="grid-common__item card-common card-common--accent">
					<h4 class="h4 card-common__title">
						<a href="#!" aria-label="link to...">BFM</a>
					</h4>
					<div class="card-common__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="card-common__interaction">
						<a data-fslightbox="gallery" data-type="youtube" href="https://www.youtube.com/watch?v=yRbM2NIpZHY" class="btn btn--grad btn--primary" aria-label="Button to open a video">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-play"></use>
							</svg>
							<span class="btn__text">Watch video</span>
						</a>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="150">
				<article class="grid-common__item card-common card-common--accent">
					<h4 class="h4 card-common__title">
						<a href="#!" aria-label="link to...">Kanaal Z</a>
					</h4>
					<div class="card-common__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="card-common__interaction">
						<a data-fslightbox="gallery" data-type="youtube" href="https://www.youtube.com/watch?v=yRbM2NIpZHY" class="btn btn--grad btn--primary" aria-label="Button to open a video">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-play"></use>
							</svg>
							<span class="btn__text">Watch video</span>
						</a>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="250">
				<article class="grid-common__item card-common card-common--accent">
					<h4 class="h4 card-common__title">
						<a href="#!" aria-label="link to...">3+Une</a>
					</h4>
					<div class="card-common__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="card-common__interaction">
						<a data-fslightbox="gallery" data-type="youtube" href="https://www.youtube.com/watch?v=yRbM2NIpZHY" class="btn btn--grad btn--primary" aria-label="Button to open a video">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-play"></use>
							</svg>
							<span class="btn__text">Watch video</span>
						</a>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="350">
				<article class="grid-common__item card-common card-common--accent">
					<h4 class="h4 card-common__title">
						<a href="#!" aria-label="link to...">Installation</a>
					</h4>
					<div class="card-common__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="card-common__interaction">
						<a data-fslightbox="gallery" data-type="youtube" href="https://www.youtube.com/watch?v=yRbM2NIpZHY" class="btn btn--grad btn--primary" aria-label="Button to open a video">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-play"></use>
							</svg>
							<span class="btn__text">Watch video</span>
						</a>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="450">
				<article class="grid-common__item card-common card-common--accent">
					<h4 class="h4 card-common__title">
						<a href="#!" aria-label="link to...">Start It</a>
					</h4>
					<div class="card-common__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="card-common__interaction">
						<a data-fslightbox="gallery" data-type="youtube" href="https://www.youtube.com/watch?v=yRbM2NIpZHY" class="btn btn--grad btn--primary" aria-label="Button to open a video">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-play"></use>
							</svg>
							<span class="btn__text">Watch video</span>
						</a>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="550">
				<article class="grid-common__item card-common card-common--accent">
					<h4 class="h4 card-common__title">
						<a href="#!" aria-label="link to...">Corporate</a>
					</h4>
					<div class="card-common__content">
						<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens...</p>
					</div>
					<div class="card-common__interaction">
						<a data-fslightbox="gallery" data-type="youtube" href="https://www.youtube.com/watch?v=yRbM2NIpZHY" class="btn btn--grad btn--primary" aria-label="Button to open a video">
							<svg class="btn__ico" width="16" height="16">
								<use xlink:href="./assets/media/icons/sprite.svg#ico-play"></use>
							</svg>
							<span class="btn__text">Watch video</span>
						</a>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->
		</ul>


	</div>

</section>
