<section class="single-post overflow-hidden">

	<div class="single-post__featured single-post-featured" data-aos="fade-up">
		<!-- .single-post-featured-img -->
		<a href="#!" class="single-post-featured__img single-post-featured__img--prev" aria-label="Link to...">
			<img src="./assets/media/images/posts/pic-post01.jpg" alt="Some image">
		</a>
		<!-- /.single-post-featured-img -->

		<!-- .single-post-featured-img -->
		<div class="single-post-featured__img single-post-featured__img--centered">
			<img src="./assets/media/images/posts/pic-single-post01.png" alt="Some image">
		</div>
		<!-- /.single-post-featured-img -->

		<!-- .single-post-featured-img -->
		<a href="#!" class="single-post-featured__img single-post-featured__img--next" aria-label="Link to...">
			<img src="./assets/media/images/posts/pic-post01.jpg" alt="Some image">
		</a>
		<!-- /.single-post-featured-img -->
	</div>

	<div class="single-post__inner" data-aos="fade-up" data-aos-delay="150">
		<div class="container container--xs">
			<div class="single-post__content">
				<header class="single-post__heading">
					<ul class="single-post__cats pills-list pills-list--sm">
						<!-- .pills-list-item -->
						<li class="pills-list__item">
							<button class="pills-list__pill" aria-label="Link to...">Environment</button>
						</li>
						<!-- /.pills-list-item -->

						<!-- .pills-list-item -->
						<li class="pills-list__item">
							<button class="pills-list__pill" aria-label="Link to...">Smartwater</button>
						</li>
						<!-- /.pills-list-item -->
					</ul>

					<time class="single-post__date" datetime="2021-04-13">13.04.2021</time>
				</header>
				<div class="single-post__body">
					<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens. Shayp seeks to set the gold standard for the future of smart meters where end users of water are at the center of the value proposition, while benefiting insurances, water companies and facility services along the way.</p>
					<p>In January 2020, Shayp received the Solar Impulse Efficient Solution Label for its innovative technology for analyzing water consumption and detecting water leaks in real-time. Shayp's solution was judged to be both cost-effective and environmentally friendly.</p>
					<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens. Shayp seeks to set the gold standard for the future of smart meters where end users of water are at the center of the value proposition, while benefiting insurances, water companies and facility services along the way.</p>
					<p>In January 2020, Shayp received the Solar Impulse Efficient Solution Label for its innovative technology for analyzing water consumption and detecting water leaks in real-time. Shayp's solution was judged to be both cost-effective and environmentally friendly.</p>
					<p>
						<img src="./assets/media/images/posts/pic-single-post-dashboard.png" alt="Some image">
					</p>
					<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens. Shayp seeks to set the gold standard for the future of smart meters where end users of water are at the center of the value proposition, while benefiting insurances, water companies and facility services along the way.</p>
					<p>In January 2020, Shayp received the Solar Impulse Efficient Solution Label for its innovative technology for analyzing water consumption and detecting water leaks in real-time. Shayp's solution was judged to be both cost-effective and environmentally friendly.</p>
					<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens. Shayp seeks to set the gold standard for the future of smart meters where end users of water are at the center of the value proposition, while benefiting insurances, water companies and facility services along the way.</p>
					<p>In January 2020, Shayp received the Solar Impulse Efficient Solution Label for its innovative technology for analyzing water consumption and detecting water leaks in real-time. Shayp's solution was judged to be both cost-effective and environmentally friendly.</p>
				</div>
			</div>
		</div>
	</div>

</section>
