<section class="team">

	<div class="container">


		<div class="titlegroup team__titlegroup text-center" data-aos="fade-up">
			<h2 class="h4 titlegroup__title">Team</h2>
			<p>We thrive for a better future, aiming to save <strong>100 billion liters</strong> of water over the next 3
				years.</p>
		</div>

		<ul class="grid-common">
			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up">
				<article class="grid-common__item card-person">
					<div class="card-person__header">
						<div class="card-person__img">
							<img src="./assets/media/images/persons/pic-person.jpg" alt="Someone's image">
						</div>
						<div class="socials socials--round">
							<ul class="socials__list">
								<!-- .socials-item -->
								<li class="socials__item">
									<a href="#!" class="socials__link" aria-label="Link to...">
										<svg class="socials__ico" width="13" height="13">
											<use xlink:href="./assets/media/icons/sprite.svg#ico-linkedin"></use>
										</svg>
									</a>
								</li>
								<!-- /.socials-item -->
							</ul>
						</div>
					</div>
					<div class="card-person__body">
						<div class="card-person__creds">
							<h3 class="h6 card-person__name"><a href="#!" aria-label="Link to...">alex McCormack</a></h3>
							<span class="card-person__pos">CEO</span>
						</div>
						<div class="card-person__desc">
							<p>Alex is an architectural engineer specialized in sustainable building design. He has always had a
								creative mind for new strategic methods of reducing environmental footprints in constructions.</p>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="150">
				<article class="grid-common__item card-person">
					<div class="card-person__header">
						<div class="card-person__img">
							<img src="./assets/media/images/persons/pic-person.jpg" alt="Someone's image">
						</div>
					</div>
					<div class="card-person__body">
						<div class="card-person__creds">
							<h3 class="h6 card-person__name"><a href="#!" aria-label="Link too....">Zineddine Wakrim</a></h3>
							<span class="card-person__pos">CTO</span>
						</div>
						<div class="card-person__desc">
							<p>Zineddine is the IoT guru of Shayp. He is an embedded systems engineer and formerly worked in the train
								transport sector.</p>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="200">
				<article class="grid-common__item card-person">
					<div class="card-person__header">
						<div class="card-person__img">
							<img src="./assets/media/images/persons/pic-person.jpg" alt="Someone's image">
						</div>
					</div>
					<div class="card-person__body">
						<div class="card-person__creds">
							<h3 class="h6 card-person__name"><a href="#!" aria-label="Linkt o...">Grégoire de Hemptinne</a></h3>
							<span class="card-person__pos">COO</span>
						</div>
						<div class="card-person__desc">
							<p>Greg holds an MBA and has 10 years experience in software engineering. He is the mastermind behind
								Shayp's software and data analytics.</p>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="250">
				<article class="grid-common__item card-person">
					<div class="card-person__header">
						<div class="card-person__img">
							<img src="./assets/media/images/persons/pic-person.jpg" alt="Someone's image">
						</div>
					</div>
					<div class="card-person__body">
						<div class="card-person__creds">
							<h3 class="h6 card-person__name"><a href="#!" aria-label="Link to...">Ingrid Nolet</a></h3>
							<span class="card-person__pos">Communication &amp; Marketing Manager</span>
						</div>
						<div class="card-person__desc">
							<p>Ingrid is driven by making a positive impact on the environment. She aims to grow the awareness around
								Shayp so more organizations can make savings on water, locally and on an international level.</p>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="300">
				<article class="grid-common__item card-person">
					<div class="card-person__header">
						<div class="card-person__img">
							<img src="./assets/media/images/persons/pic-person.jpg" alt="Someone's image">
						</div>
					</div>
					<div class="card-person__body">
						<div class="card-person__creds">
							<h3 class="h6 card-person__name"><a href="#!" aria-label="Link to...">Cécilia Masut</a></h3>
							<span class="card-person__pos">Head of Sales &amp; Partnerships</span>
						</div>
						<div class="card-person__desc">
							<p>Cécilia holds both a degree in engineering and management. She has a strong background in developing
								B2B relationships and consultancy sales in the telecommunication sector, notably for industrial
								satellites. She is interested in guaranteeing the success for any of our clients and partners.</p>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="350">
				<article class="grid-common__item card-person">
					<div class="card-person__header">
						<div class="card-person__img">
							<img src="./assets/media/images/persons/pic-person.jpg" alt="Someone's image">
						</div>
					</div>
					<div class="card-person__body">
						<div class="card-person__creds">
							<h3 class="h6 card-person__name"><a href="#!" aria-label="Link to...">Dugagjin Lashi</a></h3>
							<span class="card-person__pos">Software Engineer</span>
						</div>
						<div class="card-person__desc">
							<p>Tremendously tech-driven and at the edge of innovation, Dugagjin is an embedded systems engineer, P.h.D
								student and full-stack developer at Shayp.</p>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="400">
				<article class="grid-common__item card-person">
					<div class="card-person__header">
						<div class="card-person__img">
							<img src="./assets/media/images/persons/pic-person.jpg" alt="Someone's image">
						</div>
					</div>
					<div class="card-person__body">
						<div class="card-person__creds">
							<h3 class="h6 card-person__name"><a href="#!" aria-label="Link to...">Saikou Barry</a></h3>
							<span class="card-person__pos">Front end engineer</span>
						</div>
						<div class="card-person__desc">
							<p>Always up to date with the latest technologies, Saikou is a software engineer at Shayp.</p>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="450">
				<article class="grid-common__item card-person">
					<div class="card-person__header">
						<div class="card-person__img">
							<img src="./assets/media/images/persons/pic-person.jpg" alt="Someone's image">
						</div>
					</div>
					<div class="card-person__body">
						<div class="card-person__creds">
							<h3 class="h6 card-person__name"><a href="#!" aria-label="Link to...">Hernán Blanco</a></h3>
							<span class="card-person__pos">Data Engineer</span>
						</div>
						<div class="card-person__desc">
							<p>Hernán is a telecommunication engineer specialized in telematics, holding a research background in the
								field of distributed databases. At Shayp, he develops our Data Analytics solutions and contributes to
								deploy them on our systems.</p>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="500">
				<article class="grid-common__item card-person">
					<div class="card-person__header">
						<div class="card-person__img">
							<img src="./assets/media/images/persons/pic-person.jpg" alt="Someone's image">
						</div>
					</div>
					<div class="card-person__body">
						<div class="card-person__creds">
							<h3 class="h6 card-person__name"><a href="#!" aria-label="Link to...">Yasmina Meulemeester</a></h3>
							<span class="card-person__pos">Account Manager</span>
						</div>
						<div class="card-person__desc">
							<p>Yasmina holds a degree in Innovation and Management. She gained great experience within a large
								construction group in Belgium and the United Arab Emirates. Today she puts all her energy at the service
								of Shayp to accompany customers in their digital transition and offer the best possible "customer
								journey"!</p>
						</div>
					</div>
				</article>
			</li>
			<!-- /.grid-common-col -->
		</ul>


	</div>

</section>
