<section class="cases">

	<div class="container">


		<div class="titlegroup cases__titlegroup text-center" data-aos="fade-up">
			<h2 class="h4 titlegroup__title">Use Cases</h2>
		</div>

		<ul class="grid-common grid-common--equal-row-height">
			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up">
				<a href="#!" class="grid-common__item card-decorated scale-on-hover" aria-label="Link to...">
					<div class="card-decorated__inner">
						<div class="card-decorated__img">
							<img src="./assets/media/images/cases/pic-residence.png" alt="Image to...">
						</div>
						<div class="card-decorated__content">
							<h4 class="h6 card-decorated__title">Multi-residential<br>and hospitality</h4>
						</div>
					</div>
				</a>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="150">
				<a href="#!" class="grid-common__item card-decorated scale-on-hover" aria-label="Link to...">
					<div class="card-decorated__inner">
						<div class="card-decorated__img">
							<img src="./assets/media/images/cases/pic-residence02.png" alt="Image to...">
						</div>
						<div class="card-decorated__content">
							<h4 class="h6 card-decorated__title">Commercial and<br>retail</h4>
						</div>
					</div>
				</a>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="250">
				<a href="#!" class="grid-common__item card-decorated scale-on-hover" aria-label="Link to...">
					<div class="card-decorated__inner">
						<div class="card-decorated__img">
							<img src="./assets/media/images/cases/pic-residence03.png" alt="Image to...">
						</div>
						<div class="card-decorated__content">
							<h4 class="h6 card-decorated__title">Cities and public<br>organisations</h4>
						</div>
					</div>
				</a>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="350">
				<a href="#!" class="grid-common__item card-decorated scale-on-hover" aria-label="Link to...">
					<div class="card-decorated__inner">
						<div class="card-decorated__img">
							<img src="./assets/media/images/cases/pic-church.png" alt="Image to...">
						</div>
						<div class="card-decorated__content">
							<h4 class="h6 card-decorated__title">Education and<br>universities</h4>
						</div>
					</div>
				</a>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="450">
				<a href="#!" class="grid-common__item card-decorated scale-on-hover" aria-label="Link to...">
					<div class="card-decorated__inner">
						<div class="card-decorated__img">
							<img src="./assets/media/images/cases/pic-hospital.png" alt="Image to...">
						</div>
						<div class="card-decorated__content">
							<h4 class="h6 card-decorated__title">Hospitals and<br>healthcare</h4>
						</div>
					</div>
				</a>
			</li>
			<!-- /.grid-common-col -->

			<!-- .grid-common-col -->
			<li class="grid-common__col" data-aos="fade-up" data-aos-delay="550">
				<a href="#!" class="grid-common__item card-decorated scale-on-hover" aria-label="Link to...">
					<div class="card-decorated__inner">
						<div class="card-decorated__img">
							<img src="./assets/media/images/cases/pic-airport.png" alt="Image to...">
						</div>
						<div class="card-decorated__content">
							<h4 class="h6 card-decorated__title">Transport and<br>logistics</h4>
						</div>
					</div>
				</a>
			</li>
			<!-- /.grid-common-col -->
		</ul>


	</div>

</section>
