.s-sitemap {
	padding: 8rem 0;
	background-color: var(--bg-color-primary);

	.headline {
		margin-bottom: 4rem;
	}

	.sitemap-list {
		margin: 0;

		& > * {
			margin-bottom: 1.5rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.sitemap-list__link {
		color: var(--color-white);
	}
}
