<section class="s-stats" style="--padding: 7.5rem 0;">

	<div class="container">


		<div class="s-stats__inner">
			<div class="block-stats block-stats--filled" data-aos="fade-up">
				<div class="block-stats__inner">
					<div class="block-stats__heading text-center">
						<h3 class="h4 block-stats__title">Leakages are a major daily challenge</h3>
					</div>

					<ul class="block-stats__items">
						<!-- .block-stats-item -->
						<li class="block-stats__item">
							<span class="block-stats__nums">
								<span class="js-counts" data-number="22">0</span>%
							</span>
							<span class="block-stats__text">of the total water bill covers the cost of leakages an average</span>
						</li>
						<!-- /.block-stats-item -->

						<!-- .block-stats-item -->
						<li class="block-stats__item">
							<span class="block-stats__text">Burst pipes are</span>
							<span class="block-stats__nums">
								<span class="js-counts" data-number="7">0</span>
								times
							</span>
							<span class="block-stats__text">more likely than fire damage</span>
						</li>
						<!-- /.block-stats-item -->

						<!-- .block-stats-item -->
						<li class="block-stats__item">
							<span class="block-stats__nums">
								<span class="js-counts" data-number="1">0</span>/<span class="js-counts" data-number="3">0</span>
							</span>
							<span class="block-stats__text">of all buildings experience costly water leaks every year</span>
						</li>
						<!-- /.block-stats-item -->
					</ul>
				</div>
			</div>
		</div>


	</div>

</section>
