<section class="s-stats s-stats--homepage-empty" style="--padding: 7.5rem 0 15rem 0;">

	<div class="container">


		<div class="s-stats__inner">
			<div class="block-stats">
				<div class="block-stats__inner">
					<ul class="block-stats__items">
						<!-- .block-stats-item -->
						<li class="block-stats__item">
							<span class="block-stats__text">liters saved</span>
							<span class="block-stats__nums">
								<span class="js-counts" data-number="750000000">0</span>
							</span>
						</li>
						<!-- /.block-stats-item -->

						<!-- .block-stats-item -->
						<li class="block-stats__item">
							<span class="block-stats__text">leaks detected</span>
							<span class="block-stats__nums">
								<span class="js-counts" data-number="14000">0</span>
							</span>
						</li>
						<!-- /.block-stats-item -->

						<!-- .block-stats-item -->
						<li class="block-stats__item">
							<span class="block-stats__text">average savings</span>
							<span class="block-stats__nums">
								<span class="js-counts" data-number="21.8">0</span>%
							</span>
						</li>
						<!-- /.block-stats-item -->
					</ul>
				</div>
			</div>
		</div>


	</div>

</section>
