<section class="intro intro--press section-decorated content-white overflow-hidden" style="--intro-pb: 14.6rem;">

	<div class="container">


		<div class="intro__inner align-items-end">
			<div class="intro__info" style="--intro-info-width: 50%;">
				<div class="headline" data-aos="fade-up">
					<h1 class="h1 headline__title">Press &amp; Media</h1>
					<p>For press opportunities please contact us</p>
				</div>
			</div>

			<div class="intro__media intro__media--content-end">
				<div class="btngroup ml-auto">
					<ul class="btngroup__list">
						<!-- .btngroup-item -->
						<li class="btngroup__item" data-aos="fade-up">
							<a href="#!" class="btn btn--grad-text btn--light btn--md text-capitalized text-center" aria-label="Link to...">
								<span class="btn__text" data-btn-text="Contact us">Contact us</span>
							</a>
						</li>
						<!-- /.btngroup-item -->
					</ul>
				</div>
			</div>
		</div>


	</div>

	<div class="bg-common" aria-hidden="true">
		<img src="./assets/media/images/decorations/pic-bg01.png" alt="Image...">
	</div>

	<div class="decoration-common" aria-hidden="true">
		<!-- .decoration-common-item -->
		<div class="decoration-common__item js-radiotower-animation" style="--decor-item-right: 47%; --decor-item-bottom: 44%; --decor-item-opacity: 0.4; --decor-item-rotate: -15deg;">
			<svg width="48" height="48">
				<use xlink:href="./assets/media/icons/sprite.svg#ico-radio-tower"></use>
			</svg>
		</div>
		<!-- /.decoration-common-item -->

		<!-- .decoration-common-item -->
		<div class="decoration-common__item js-radiotower-animation" style="--decor-item-right: 33%; --decor-item-bottom: 25%; --decor-item-opacity: 0.8; --decor-item-rotate: 15deg;">
			<svg width="120" height="120">
				<use xlink:href="./assets/media/icons/sprite.svg#ico-radio-tower"></use>
			</svg>
		</div>
		<!-- /.decoration-common-item -->
	</div>

</section>
