<section class="intro-single content-white">

	<div class="intro-single__main js-intr-nav-fixed">


		<div class="container container--xl">
			<div class="intro-single__nav">
				<!-- .intro-single-col -->
				<div class="intro-single__col intro-single__col--prev">
					<a href="#!" class="btn-link text-capitalized" aria-label="Link to...">
						<svg class="btn-link__ico" width="19" height="19">
							<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-left"></use>
						</svg>
						<span class="btn-link__text">previous</span>
					</a>
				</div>
				<!-- /.intro-single-col -->

				<!-- .intro-single-col -->
				<div class="intro-single__col intro-single__col--lg intro-single__col--back">
					<div class="intro-single__goback intro-goback">
						<a href="#!" class="btn btn--sm btn--lightblue intro-single__backbtn" aria-label="Link to...">
							<span class="btn__text">Back to Blog</span>
						</a>
						<span class="intro-goback__title h6">Account Executive BtoB Germany</span>
					</div>
				</div>
				<!-- /.intro-single-col -->

				<!-- .intro-single-col -->
				<div class="intro-single__col intro-single__col--next">
					<a href="#!" class="btn-link text-capitalized" aria-label="Link to...">
						<span class="btn-link__text">next</span>
						<svg class="btn-link__ico" width="19" height="19">
							<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-right02"></use>
						</svg>
					</a>
				</div>
				<!-- /.intro-single-col -->
			</div>
		</div>


	</div>

	<div class="intro-single__secondary">


		<div class="container container--xl">
			<div class="intro-single__content">
				<div class="headline" data-aos="fade-up">
					<h1 class="h1 headline__title text-capitalized">Account Executive BtoB<br> Germany</h1>
				</div>
			</div>
		</div>

		<div class="intro-single__decoration intro-single__decoration--right" aria-hidden="true">
			<span class="h1 text-capitalized">Account Executive BtoB Germany</span>
		</div>


	</div>


</section>
