<section class="intro section-decorated content-white overflow-hidden" style="--intro-pb: 14.6rem;">

	<div class="container">


		<div class="intro__inner align-items-end">
			<div class="intro__info" style="--intro-info-width: 50%;">
				<div class="headline" data-aos="fade-up">
					<h1 class="h1 headline__title">Careers</h1>
				</div>

				<div class="btngroup">
					<ul class="btngroup__list">
						<!-- .btngroup-item -->
						<li class="btngroup__item" data-aos="fade-up" data-aos-delay="250">
							<a href="#!" class="btn btn--grad-text btn--light btn--md text-capitalized text-center"
								aria-label="Link to...">
								<span class="btn__text" data-btn-text="Join us">Join us</span>
							</a>
						</li>
						<!-- /.btngroup-item -->
					</ul>
				</div>
			</div>

			<div class="intro__media">
				<div class="intro__img ml-auto" style="--intro-img-width: 31rem;">
					<svg viewBox="0 0 239 119" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.5"
							d="M56.5 119L65 90L112 43L239 75.5001C239 75.5001 236.5 90 185.5 101.5C134.5 113 56.5 119 56.5 119Z"
							fill="url(#paint0_linear_1574_1027)" />
						<g class="js-heart-animation" clip-path="url(#clip0_1574_1027)">
							<path
								d="M66.0714 115.774L56.5002 119C56.5002 119 10.1233 52.5909 3 31.5C-3.93016 10.9884 17.0667 -5.55729 39.4235 1.48014C45.9208 3.56641 51.7784 7.27622 56.4415 12.2585C61.1047 17.2408 64.4192 23.3307 66.0714 29.9517C66.0714 29.9517 63.128 27.4339 67 24.5C72.3622 20.4369 86.3625 16.0349 99.6065 20.5327C117.286 26.5402 124.002 42.8251 117.565 59.9895C111.729 75.5449 66.0714 115.774 66.0714 115.774Z"
								fill="url(#paint1_linear_1574_1027)" />
							<path
								d="M56.6346 118.92C56.6346 118.92 11.5779 62.9422 2.99563 37.3886C-3.93454 16.877 7.62994 -2.41154 29.9867 4.6259C36.484 6.71216 42.3416 10.422 47.0048 15.4043C51.6679 20.3865 54.9824 26.4764 56.6346 33.0975C56.6346 33.0975 67.3624 15.9329 90.1698 23.6784C107.849 29.686 114.565 45.9708 108.128 63.1353C102.292 78.6906 56.6346 118.92 56.6346 118.92Z"
								fill="url(#paint2_linear_1574_1027)" />
						</g>
						<defs>
							<!-- .linear-gradient -->
							<linearGradient id="paint0_linear_1574_1027" x1="105.39" y1="133.913" x2="136.572" y2="48.5027"
								gradientUnits="userSpaceOnUse">
								<!-- .stop -->
								<stop />
								<!-- /.stop -->

								<!-- .stop -->
								<stop offset="1" stop-opacity="0" />
								<!-- /.stop -->
							</linearGradient>
							<!-- /.linear-gradient -->

							<!-- .linear-gradient -->
							<linearGradient id="paint1_linear_1574_1027" x1="43.2209" y1="110.325" x2="83.2142" y2="-26.2617"
								gradientUnits="userSpaceOnUse">
								<!-- .stop -->
								<stop stop-color="#439DE6" />
								<!-- /.stop -->

								<!-- .stop -->
								<stop offset="1" stop-color="#B3DDFF" />
								<!-- /.stop -->
							</linearGradient>
							<!-- /.linear-gradient -->

							<!-- .linear-gradient -->
							<linearGradient id="paint2_linear_1574_1027" x1="26" y1="141" x2="54.9655" y2="21.7386"
								gradientUnits="userSpaceOnUse">
								<!-- .stop -->
								<stop stop-color="#8CC2ED" />
								<!-- /.stop -->

								<!-- .stop -->
								<stop offset="0.6875" stop-color="#E8F4FF" />
								<!-- /.stop -->
							</linearGradient>
							<!-- /.linear-gradient -->
							<clipPath id="clip0_1574_1027">
								<rect width="120" height="119" fill="white" />
							</clipPath>
						</defs>
					</svg>
				</div>
			</div>
		</div>


	</div>

	<div class="bg-common">
		<img src="./assets/media/images/decorations/pic-bg01.png" alt="Image...">
	</div>



</section>
