<section class="s-events">

	<div class="container">


		<div class="titlegroup s-events__titlegroup" data-aos="fade-up">
			<h2 class="h1 titlegroup__title text-capitalized">Upcoming events</h2>
		</div>

		<ul class="list-events">
			<!-- .list-events-item -->
			<li class="list-events__item" data-aos="fade-up">
				<div class="list-events__media">
					<div class="list-events__img">
						<img src="./assets/media/images/events/pic-event.jpg" alt="Some picture">
					</div>
				</div>
				<div class="list-events__content list-events-content">
					<article class="card-events">
						<div class="card-events__header">
							<time class="card-events__date" datetime="21-04-13">13.04.2021</time>
							<ul class="pills-list">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-label="Link to...">Featured</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
						<div class="card-events__body">
							<h3 class="h4 card-events__title"><a href="#!" aria-label="Link to...">Strategic Approaches to Water Management</a></h3>
							<div class="card-events__content card-events-content">
								<div class="card-events-content__default">
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens.<span class="dots" id="desc-dots-1">..</span> <span>Shayp seeks to set the gold standard for the future of smart meters where end users of water are at the center of the value proposition, while benefiting insurances, water companies and facility services along the way.</span></p>
								</div>
								<div class="card-events-content__rest is-hidden" id="desc-rest-1">
									<p>In January 2020, Shayp received the Solar Impulse Efficient Solution Label for its innovative technology for analyzing water consumption and detecting water leaks in real-time. Shayp's solution was judged to be both cost-effective and environmentally friendly.</p>
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens. Shayp seeks to set the gold standard.</p>
								</div>
							</div>
						</div>
						<div class="card-events__footer">
							<a href="#!" class="btn-link js-sh-more-desc" data-desc-to-show="desc-rest-1" data-desc-dots="desc-dots-1" data-is-open="0" aria-label="Link to...">
								<span class="btn-link__text">Read more</span>
								<svg class="btn-link__arrow" width="19" height="19">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-down"></use>
								</svg>
							</a>
						</div>
					</article>
				</div>
			</li>
			<!-- /.list-events-item -->

			<!-- .list-events-item -->
			<li class="list-events__item" data-aos="fade-up">
				<div class="list-events__media">
					<div class="list-events__img">
						<img src="./assets/media/images/events/pic-event.jpg" alt="Some picture">
					</div>
				</div>
				<div class="list-events__content list-events-content">
					<article class="card-events">
						<div class="card-events__header">
							<time class="card-events__date" datetime="21-04-13">13.04.2021</time>
							<ul class="pills-list">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-label="Link to...">Featured</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
						<div class="card-events__body">
							<h3 class="h4 card-events__title"><a href="#!" aria-label="Link to...">Strategic Approaches to Water Management</a></h3>
							<div class="card-events__content card-events-content">
								<div class="card-events-content__default">
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens.<span class="dots" id="desc-dots-2">..</span> <span>Shayp seeks to set the gold standard for the future of smart meters where end users of water are at the center of the value proposition, while benefiting insurances, water companies and facility services along the way.</span></p>
								</div>
								<div class="card-events-content__rest is-hidden" id="desc-rest-2">
									<p>In January 2020, Shayp received the Solar Impulse Efficient Solution Label for its innovative technology for analyzing water consumption and detecting water leaks in real-time. Shayp's solution was judged to be both cost-effective and environmentally friendly.</p>
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens. Shayp seeks to set the gold standard.</p>
								</div>
							</div>
						</div>
						<div class="card-events__footer">
							<a href="#!" class="btn-link js-sh-more-desc" data-desc-to-show="desc-rest-2" data-desc-dots="desc-dots-2" data-is-open="0" aria-label="Link to...">
								<span class="btn-link__text">Read more</span>
								<svg class="btn-link__arrow" width="19" height="19">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-down"></use>
								</svg>
							</a>
						</div>
					</article>
				</div>
			</li>
			<!-- /.list-events-item -->

			<!-- .list-events-item -->
			<li class="list-events__item" data-aos="fade-up">
				<div class="list-events__media">
					<div class="list-events__img">
						<img src="./assets/media/images/events/pic-event.jpg" alt="Some picture">
					</div>
				</div>
				<div class="list-events__content list-events-content">
					<article class="card-events">
						<div class="card-events__header">
							<time class="card-events__date" datetime="21-04-13">13.04.2021</time>
							<ul class="pills-list">
								<!-- .pills-list-item -->
								<li class="pills-list__item">
									<a href="#!" class="pills-list__pill" aria-label="Link to...">Featured</a>
								</li>
								<!-- /.pills-list-item -->
							</ul>
						</div>
						<div class="card-events__body">
							<h3 class="h4 card-events__title"><a href="#!" aria-label="Link to...">Strategic Approaches to Water Management</a></h3>
							<div class="card-events__content card-events-content">
								<div class="card-events-content__default">
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens.<span class="dots" id="desc-dots-3">..</span> <span>Shayp seeks to set the gold standard for the future of smart meters where end users of water are at the center of the value proposition, while benefiting insurances, water companies and facility services along the way.</span></p>
								</div>
								<div class="card-events-content__rest is-hidden" id="desc-rest-3">
									<p>In January 2020, Shayp received the Solar Impulse Efficient Solution Label for its innovative technology for analyzing water consumption and detecting water leaks in real-time. Shayp's solution was judged to be both cost-effective and environmentally friendly.</p>
									<p>Shayp's vision is to democratize access to water efficient technology and build favorable services for organizations and citizens. Shayp seeks to set the gold standard.</p>
								</div>
							</div>
						</div>
						<div class="card-events__footer">
							<a href="#!" class="btn-link js-sh-more-desc" data-desc-to-show="desc-rest-3" data-desc-dots="desc-dots-3" data-is-open="0" aria-label="Link to...">
								<span class="btn-link__text">Read more</span>
								<svg class="btn-link__arrow" width="19" height="19">
									<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-down"></use>
								</svg>
							</a>
						</div>
					</article>
				</div>
			</li>
			<!-- /.list-events-item -->
		</ul>


	</div>

</section>
