<section class="s-events s-events--last-child">

	<div class="container">


		<div class="s-events__inner s-events__inner--sm">
			<div class="titlegroup s-events__titlegroup" data-aos="fade-up">
				<h2 class="h1 titlegroup__title text-capitalized">Past events</h2>
			</div>

			<div class="accordion">
				<!-- .accordion-item -->
				<div class="accordion__item" data-aos="fade-up">
					<button class="accordion__header btn-reset">
						<time class="accordion__date" datetime="21-04-13">13.04.2021</time>
						<h3 class="h6 accordion__title">How are installations planned? Where do we begin?</h3>
						<span class="accordion__token">&nbsp;</span>
					</button>
					<div class="accordion__body">
						<div class="accordion__content">
							<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
								night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
								adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
								check this <a href="#!" aria-label="link to....">page</a>.</p>
						</div>
					</div>
				</div>
				<!-- /.accordion-item -->

				<!-- .accordion-item -->
				<div class="accordion__item" data-aos="fade-up">
					<button class="accordion__header btn-reset">
						<time class="accordion__date" datetime="21-04-13">13.04.2021</time>
						<h3 class="h6 accordion__title">Where will the installer place the Shayp POLY4 device?</h3>
						<span class="accordion__token">&nbsp;</span>
					</button>
					<div class="accordion__body">
						<div class="accordion__content">
							<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
								night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
								adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
								check this <a href="#!" aria-label="link to....">page</a>.</p>
						</div>
					</div>
				</div>
				<!-- /.accordion-item -->

				<!-- .accordion-item -->
				<div class="accordion__item" data-aos="fade-up">
					<button class="accordion__header btn-reset">
						<time class="accordion__date" datetime="21-04-13">13.04.2021</time>
						<h3 class="h6 accordion__title">How does the installer set up the POLY4 device?</h3>
						<span class="accordion__token">&nbsp;</span>
					</button>
					<div class="accordion__body">
						<div class="accordion__content">
							<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
								night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
								adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
								check this <a href="#!" aria-label="link to....">page</a>.</p>
						</div>
					</div>
				</div>
				<!-- /.accordion-item -->

				<!-- .accordion-item -->
				<div class="accordion__item" data-aos="fade-up">
					<button class="accordion__header btn-reset">
						<time class="accordion__date" datetime="21-04-13">13.04.2021</time>
						<h3 class="h6 accordion__title">Can I install the router myself?</h3>
						<span class="accordion__token">&nbsp;</span>
					</button>
					<div class="accordion__body">
						<div class="accordion__content">
							<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
								night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
								adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
								check this <a href="#!" aria-label="link to....">page</a>.</p>
						</div>
					</div>
				</div>
				<!-- /.accordion-item -->

				<!-- .accordion-item -->
				<div class="accordion__item" data-aos="fade-up">
					<button class="accordion__header btn-reset">
						<time class="accordion__date" datetime="21-04-13">13.04.2021</time>
						<h3 class="h6 accordion__title">How long does a typical installation take?</h3>
						<span class="accordion__token">&nbsp;</span>
					</button>
					<div class="accordion__body">
						<div class="accordion__content">
							<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
								night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
								adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
								check this <a href="#!" aria-label="link to....">page</a>.</p>
						</div>
					</div>
				</div>
				<!-- /.accordion-item -->

				<!-- .accordion-item -->
				<div class="accordion__item" data-aos="fade-up">
					<button class="accordion__header btn-reset">
						<time class="accordion__date" datetime="21-04-13">13.04.2021</time>
						<h3 class="h6 accordion__title">Do you have to cut pipes to install the System?</h3>
						<span class="accordion__token">&nbsp;</span>
					</button>
					<div class="accordion__body">
						<div class="accordion__content">
							<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
								night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
								adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
								check this <a href="#!" aria-label="link to....">page</a>.</p>
						</div>
					</div>
				</div>
				<!-- /.accordion-item -->

				<!-- .accordion-item -->
				<div class="accordion__item" data-aos="fade-up">
					<button class="accordion__header btn-reset">
						<time class="accordion__date" datetime="21-04-13">13.04.2021</time>
						<h3 class="h6 accordion__title">Is the Poly4 compatible with all water meters?</h3>
						<span class="accordion__token">&nbsp;</span>
					</button>
					<div class="accordion__body">
						<div class="accordion__content">
							<p>Shayp detects the minimum water flows during unoccupied times of the building, even buildings with
								night activity. Shayp reliably detects leaks using “machine learning” and statistical methods that
								adapt to the consumption pattern of the building. If you wish to learn more about our algorithm,
								check this <a href="#!" aria-label="link to....">page</a>.</p>
						</div>
					</div>
				</div>
				<!-- /.accordion-item -->
			</div>
		</div>


	</div>

</section>
